<div class="level">
  <form [formGroup]="infoLevelConfigFormGroup.formGroup" class="content">
    <!-- TITLE filed -->
    <mat-form-field appearance="outline"
      (keydown.enter)="$event.preventDefault()">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" required>
      <button mat-button *ngIf="title" matSuffix mat-icon-button
        aria-label="Clear" (click)="title.setValue('');">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="title.hasError('whitespace')">Title cannot be empty</mat-error>
    </mat-form-field>

    <!-- CONTENT filed -->
    <h3>Content</h3>
    <kypo2-markdown-editor [kypo2-markdown-file-upload]="false"
      (contentChange)="this.content.setValue($event);"
      [content]="content.value"></kypo2-markdown-editor>
    <mat-error *ngIf="content.hasError('whitespace')">Content cannot be empty</mat-error>
  </form>
</div>
