 <div class="content">
  <form [formGroup]="trainingInstanceFormGroup.formGroup">

    <!--TITLE field-->
    <mat-form-field appearance="outline"
      (keydown.enter)="$event.preventDefault()">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" required>
      <button mat-button *ngIf="title.value" matSuffix mat-icon-button
        aria-label="Clear" (click)="title.setValue('');">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="title.hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <div class="panel-wrapper">
      <div class="left-panel">
        <!-- START TIME field -->
        <mat-form-field
          class="multi-line-hint"
          hintLabel="When trainees can access training runs"
          [owlDateTimeTrigger]="startTimePicker"
          appearance="outline">
          <mat-label>Start Time</mat-label>
          <div class="input-wrapper">
            <input matInput
                   placeholder="Start Time"
                   required
                   [min]="now"
                   [max]="endTime.value"
                   formControlName="startTime"
                   (dateTimeChange)="onStartTimeChanged()"
                   [owlDateTime]="startTimePicker">
            <owl-date-time #startTimePicker [startAt]="startTime.value"></owl-date-time>
          </div>
          <mat-error
            *ngIf="trainingInstanceFormGroup.formGroup.hasError('startTimeAfterEndTime')">Start
            time must be before end time</mat-error>
          <mat-error *ngIf="startTime.hasError('dateInPast')">Start time cannot
            be in the past</mat-error>
          <mat-error *ngIf="startTime.hasError('required')">This field is
            required</mat-error>
        </mat-form-field>

        <!-- END TIME field -->
        <mat-form-field
          class="multi-line-hint"
          hintLabel="Trainees cannot access training runs after end time
          expires"
          [owlDateTimeTrigger]="endTimePicker"
          appearance="outline">
          <mat-label>End Time</mat-label>
          <div class="input-wrapper">
            <input
              matInput
              placeholder="End Time"
              required
              [min]="startTime.value"
              formControlName="endTime"
              [owlDateTime]="endTimePicker">
            <owl-date-time #endTimePicker [startAt]="endTime.value ?
              endTime.value : startTime.value"></owl-date-time>
          </div>
          <mat-error
            *ngIf="trainingInstanceFormGroup.formGroup.hasError('startTimeAfterEndTime')">Start
            time must be before end time</mat-error>
          <mat-error *ngIf="endTime.hasError('dateInPast')">End time cannot be
            in the past</mat-error>
          <mat-error *ngIf="endTime.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="right-panel">
        <!-- ACCESS TOKEN filed -->
        <mat-form-field appearance="outline" hintLabel="Generated PIN code will
          be added to your token" class="multi-line-hint"
                        (keydown.enter)="$event.preventDefault()">
          <mat-label>Access Token Prefix</mat-label>
          <input matInput placeholder="Access Token"
                 formControlName="accessToken" required>
          <button mat-button *ngIf="accessToken.value" matSuffix mat-icon-button
                  aria-label="Clear" (click)="accessToken.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="accessToken.hasError('required')">This field is
            required</mat-error>
        </mat-form-field>

        <!-- TRAINING DEFINITION field-->
        <div class="form-line">
          <p *ngIf="trainingDefinition.value">Training Definition: {{
            trainingDefinition.value.title | kypoShortString: 30 }}</p>
          <p *ngIf="!trainingDefinition.value">Training Definition*</p>
          <button (click)="selectTrainingDefinition()"
            mat-button color="accent">
            Select
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
