<div class="portal-content">
  <h1>KYPO Portal</h1>
  <h2>Choose your role...</h2>

  <div class="portal-menu">
    <div class="left-line">
      <div class="left-line-header">
        <h3>Trainings</h3>
      </div>
      <button *ngFor="let trainingRole of trainingRoles"
              mat-raised-button color="primary"
              [disabled]="trainingRole.disabled"
              (click)="navigateToRoute(trainingRole.route)">
        {{ trainingRole.name }}
      </button>
    </div>

    <div class="middle-line">
      <div class="middle-line-header" >
        <h3>Cyber Exercises</h3>
      </div>
      <button mat-raised-button color="primary" disabled="true">
        Designer
      </button>
      <button mat-raised-button color="primary" disabled="true">
        Organizer
      </button>
      <button mat-raised-button color="primary" disabled="true">
        Participant
      </button>
    </div>

    <div class="right-line">
      <div class="right-line-header">
        <h3>Other Agendas</h3>
      </div>
      <button mat-raised-button color="primary" disabled="true">
        Administrator
      </button>
      <button mat-raised-button color="primary" disabled="true">
        Sandbox Designer
      </button>
    </div>
  </div>
</div>
