h1 {
  font-size: xx-large;
  margin: 50px 0;
  text-align: center;
}

h2 {
  font-size: large;
  margin: 50px 50px;
  text-align: left;
}

.portal-content {
  width: 100%;
}

.portal-menu-header {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h3 {
  width: 150px;
}

.left-line-header {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-line-header {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-line-header {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portal-menu {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-line {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-line {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-line {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  height: 100px;
  width: 150px;
  margin-bottom: 50px;
}
