<div class="container">
  <div class="header">
    <h2>Training Summary</h2>
    <mat-divider></mat-divider>
  </div>
  <div class="content">
    <kypo2-training-instance-info
    [trainingDefinition]="trainingDefinition"
    [trainingInstance]="trainingInstance"
    [accessTokenRouterLink]="accessTokenRouterLink">
    </kypo2-training-instance-info>
    <div class="training-run-overview">
      <kypo2-active-training-run-overview></kypo2-active-training-run-overview>
      <kypo2-archived-training-run-overview></kypo2-archived-training-run-overview>
    </div>
  </div>
</div>
