  <div *ngIf="(trainingInstance$ | async) as trainingInstance">
    <h1>{{ trainingInstance?.title  | titlecase }} Summary</h1>
    <mat-expansion-panel expanded (opened)="open(0)" (closed)="close(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>Overview</mat-panel-title>
        <mat-panel-description>
          <span>Basic information</span>
          <span class="spacer"></span>
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="controls">
          <a mat-raised-button color="primary" [routerLink]="progressLink" [disabled]="!(hasStarted$ | async)">Show Progress </a>
          <a mat-raised-button color="primary" [routerLink]="resultsLink" [disabled]="!(hasStarted$ | async)">Show Results</a>
        </div>
        <kypo2-training-instance-info
          [trainingInstance]="trainingInstance">
        </kypo2-training-instance-info>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="open(1)" (closed)="close(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>Active Training Runs</mat-panel-title>
        <mat-panel-description>
          <span>Manage active training runs</span>
          <span class="spacer"></span>
          <mat-icon>dynamic_feed</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <kypo2-active-training-run-overview [isPollingActive]="isOpen(1)" [trainingInstance]="trainingInstance">
        </kypo2-active-training-run-overview>
      </ng-template>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="open(2)" (closed)="close(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>Archived Training Runs</mat-panel-title>
        <mat-panel-description>
          <span>Manage archived training runs</span>
          <span class="spacer"></span>
          <mat-icon>done_all</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <kypo2-archived-training-run-overview [isPollingActive]="isOpen(2)" [trainingInstance]="trainingInstance">
        </kypo2-archived-training-run-overview>
      </ng-template>

    </mat-expansion-panel>
  </div>
