<div class="controls">
  <button mat-flat-button color="primary" [disabled]="!selectedToAssign || selectedToAssign.length === 0" (click)="assign()">Add</button>
</div>
<mat-divider></mat-divider>
<kypo2-user-selector
  [userTypeLabel]="toAssignTitle"
  [users]="toAssign | async"
  [selected]="selectedToAssign"
  (selectionChange)="onToAssignSelection($event)"
  (fetch)="getToAssign($event)">
</kypo2-user-selector>
<mat-divider></mat-divider>
<div class="controls">
  <button *ngIf="this.selectedAssignees.length <= 0 else selectedAuthorsButton" mat-flat-button color="warn" disabled (click)="deleteSelectedAssignees()">Delete</button>
  <ng-template #selectedAuthorsButton>
    <button mat-flat-button color="warn" (click)="deleteSelectedAssignees()">Delete ({{ this.selectedAssignees.length }})</button>
  </ng-template>
</div>
<h2> {{ assigneesTitle }} of {{ resource.title }}</h2>
<kypo2-table [hasError]="assigneesTableHasError"
             [data]="assignees | async"
             [totalElements]="assigneesTotalLength"
             (rowAction)="onAssigneesTableAction($event)"
             (rowSelection)="onAssigneesSelection($event)"
             (refresh)="onAssigneesLoadEvent($event)">
</kypo2-table>
