<div class="content">
  <form [formGroup]="trainingDefinitionEditFormGroup.formGroup">
    <div class="form-container">
      <div class="left-col">
        <!-- TITLE field-->
        <mat-form-field appearance="outline"
          (keydown.enter)="$event.preventDefault()">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required>
          <button mat-button *ngIf="title.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="title.setValue('');
            title.markAsDirty();">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Title cannot be empty</mat-error>
        </mat-form-field>


        <!-- DESCRIPTION field-->
        <mat-form-field appearance="outline"
          (keydown.enter)="$event.preventDefault()">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description"
            formControlName="description"></textarea>
          <button mat-button *ngIf="description.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="description.setValue('');
            description.markAsDirty();">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- SHOW STEPPER BAR checkbox-->
        <div class="form-line">
          <div class="form-line-content">
            <span class="spacer"></span>
            <mat-checkbox matTooltip="When active, trainee can see which level
              he is playing and how many there are until the end"
                          labelPosition="before"
                          formControlName="showProgress">
              Show Stepper Bar
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div class="right-col">
        <!-- PREREQUISITES field-->
        <kypo2-free-form (itemsChange)="prerequisitesChange($event)"
                         [required]="false" [hasHeader]="true" [formPlaceholder]="'Note'"
                         [formName]="'Notes for instructors'"
                         [formData]="trainingDefinition.prerequisites">
        </kypo2-free-form>

        <!-- OUTCOMES field-->
        <kypo2-free-form (itemsChange)="outcomesChange($event)"
                         [required]="false" [hasHeader]="true" [formPlaceholder]="'Outcome'"
                         [formName]="'Learning outcomes'"
                         [formData]="trainingDefinition.outcomes">
        </kypo2-free-form>
      </div>
    </div>
  </form>
</div>
