.form-container {
  display: flex;
  flex-direction: row;
}

.left-col {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 20px;
}

.right-col {
  display: flex;
  width: 50%;
  padding: 20px;
  flex-direction: column;
}

.form-line {
  margin-bottom: 30px;
}

.form-line-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  place-content: space-between;
}

.form-line-content p {
  color: grey;
}

.spacer {
  flex: 1 1 0;
}

@media screen and (max-width: 900px) {
  .form-container {
    display: flex;
    flex-direction: column;
  }

  .left-col, .right-col {
    width: 90%;
  }
}



