<h1 mat-dialog-title>Upload Sandbox Definition</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <p *ngIf="uploadedFile"
       class="mat-body-1">
    {{ uploadedFile }}
    </p>
    <p *ngIf="!uploadedFile"
       class="mat-body-1">
    No file
    </p>
  <button mat-raised-button
            (click)="chooseFile()"
            color="accent">Choose file
    </button>
</div>
<div mat-dialog-actions>
  <button (click)="cancel()" mat-button color="primary">Cancel</button>
  <button (click)="upload()" mat-button color="primary">Upload</button>
</div>

