<h1 mat-dialog-title>How many sandboxes do you want to allocate?</h1>
<div mat-dialog-content class="mat-body-1">
  <form [formGroup]="allocationSizeForm.formGroup">
    <mat-form-field appearance="outline" class="allocation-amount">
      <mat-label>No. of sandboxes</mat-label>
      <input matInput type="number" pattern="[0-9]*" [max]="this.data" min="1" formControlName="allocationSize" required>
      <mat-error *ngIf="allocationSize.hasError('pattern')">Must be a number</mat-error>
      <mat-error *ngIf="allocationSize.hasError('min')">You must allocate at least one sandbox</mat-error>
      <mat-error *ngIf="allocationSize.hasError('max')">You cannot allocate more sandboxes than pool size</mat-error>
      <mat-error *ngIf="allocationSize.hasError('required')">Cannot be empty</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-button color="accent" (click)="allocateAll()">Allocate all</button>
  <button mat-button color="primary" (click)="confirm()" [disabled]="!allocationSizeForm.formGroup.valid">Confirm</button>
</div>
