@import "~variables.scss";

h2 {
  text-align: center;
  margin: 20px auto;
}

tr.detail-row {
  height: 0;
  background: #f5f5f5;
}

kypo2-training-definition-detail {
  width: 100%;
  padding: 10px;
}

tr.training-row:not(.example-expanded-row):hover {
  background: gainsboro;
}

tr.training-row:not(.example-expanded-row):active {
  background: #efefef;
}

.training-row td {
  border-bottom-width: 0;
}

.training-detail {
  overflow: hidden;
  display: flex;
}

.train-def {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.train-def-buttons {
  width: 90%;
  margin: auto auto;
  display: flex;
  flex-direction: row;
}

.train-def-buttons button {
  margin-right: 20px;
  max-width: 200px;
}

.train-def-table-wrapper {
  flex-grow: 10;
}

.train-def-table {
  width: 90%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

.error {
  color: $warn;
  text-align: center;
}

table {
  width: 100%;
}

td.status, th.status {
  width: 100px;
  max-width: 200px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .train-def {
    flex-direction: column;
  }

  .train-def-buttons {
    flex-direction: column;
  }

  .train-def-table {
    width: 100%;
  }
}




