<div class="train-def">
  <div class="train-def-buttons">
    <button mat-flat-button color="primary"
            (click)="newTrainingDefinition()">
      Create
    </button>
    <button mat-flat-button color="primary"
            (click)="uploadTrainingDefinition()">
      Upload
    </button>
  </div>
  <div class="train-def-table-wrapper">
    <div class="train-def-table">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
               [disabled]="isInErrorState"
               placeholder="Filter by title or state">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <div class="error" *ngIf="isInErrorState">
            We had some trouble loading the data.
            <button mat-icon-button (click)="fetchData()" color="primary"><mat-icon>refresh</mat-icon></button>
        </div>

        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

          <!-- EXPANDED TD TETAIL-->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
              <div class="training-detail"
                   [@detailExpand]="row == expandedTraining ? 'expanded' : 'collapsed'">
                <kypo2-training-definition-detail [trainingDefinition]="row.trainingDefinition"></kypo2-training-definition-detail>
              </div>
            </td>
          </ng-container>

          <!-- TITLE Column -->
          <ng-container matColumnDef="id">
            <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isInErrorState">ID</th>
            <td class="id" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.id }}
            </td>
          </ng-container>

          <!-- TITLE Column -->
          <ng-container matColumnDef="title">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isInErrorState">Title</th>
            <td class="title" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.title | shortString: 50 }}
            </td>
          </ng-container>

          <!-- STATUS Column -->
          <ng-container matColumnDef="state">
            <th class="status" mat-header-cell mat-sort-header *matHeaderCellDef>State</th>
            <td class="status" mat-cell *matCellDef="let data">
                <mat-select (selectionChange)="changeTrainingDefinitionState(data)"
                            (click)="$event.stopPropagation();"
                            *ngIf="!data.isLoadingStateChange"
                            [disabled]="data.possibleStates.length <= 1"
                            [(ngModel)]="data.selectedState">
                  <mat-option *ngFor="let state of data.possibleStates"
                              [value]="state">
                    {{ state | titlecase }}
                  </mat-option>
                </mat-select>
              <mat-progress-spinner *ngIf="data.isLoadingStateChange" color="accent" mode="indeterminate" diameter="25">
              </mat-progress-spinner>
            </td>
          </ng-container>

          <!--ESTIMATED DURATION COLUMN-->
          <ng-container matColumnDef="estimated-duration">
            <th class="estimated-duration" mat-header-cell *matHeaderCellDef mat-sort-header="estimatedDuration" [disabled]="isInErrorState">Estimated Duration</th>
            <td class="estimated-duration" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.estimatedDuration }} min
            </td>
          </ng-container>

          <!-- LAST EDIT Column -->
          <ng-container matColumnDef="last-edit">
            <th class="last-edit" mat-header-cell *matHeaderCellDef mat-sort-header="lastEdited" [disabled]="isInErrorState">Last Edit</th>
            <td class="last-edit" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.lastEditTime | dateTimeFormat }}
            </td>
          </ng-container>

          <!--ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef >Actions</th>
            <td class="actions" mat-cell *matCellDef="let data">

              <div class="action-buttons">
                <!-- CLONE button -->
                <button mat-icon-button color="primary"
                        matTooltip="Clone training definition"
                        (click)="cloneTrainingDefinition(data.trainingDefinition);$event.stopPropagation();">
                  <mat-icon
                    aria-label="Clone training definition button">
                    file_copy</mat-icon>
                </button>

                <!-- DOWNLOAD button -->
                <button mat-icon-button color="primary"
                        matTooltip="Download training definition"
                        throttleClick
                        (throttledClick)="downloadTrainingDefinition(data.trainingDefinition?.id);$event.stopPropagation();">
                  <mat-icon
                    aria-label="Download training definition button">
                    cloud_download</mat-icon>
                </button>

                <!-- PREVIEW button -->
                <button mat-icon-button color="primary"
                        matTooltip="Preview training run"
                        (click)="previewTrainingDefinition(data.trainingDefinition?.id);$event.stopPropagation();">
                  <mat-icon
                    aria-label="Preview training definition button">
                    remove_red_eye</mat-icon>
                </button>

                <!-- EDIT button -->
                <button [disabled]="data.trainingDefinition?.state !== trainingStateEnum.Unreleased"
                        mat-icon-button color="primary"
                        matTooltip="Edit training definition"
                        (click)="editTrainingDefinition(data.trainingDefinition?.id);$event.stopPropagation();">
                  <mat-icon
                    aria-label="Edit training definition button">
                    create</mat-icon>
                </button>

                <!-- REMOVE button -->
                <button [disabled]="data.trainingDefinition?.state !== trainingStateEnum.Unreleased
                         && data.trainingDefinition?.state !== trainingStateEnum.Archived"
                        mat-icon-button color="warn"
                        matTooltip="Delete training definition"
                        (click)="deleteTrainingDefinition(data.trainingDefinition);$event.stopPropagation();">
                  <mat-icon
                    aria-label="Delete training definition button"
                  >delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="training-row"
              [class.example-expanded-row]="expandedTraining === element"
              (click)="expandedTraining = expandedTraining === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
