@import "~variables.scss";

h2 {
  margin: 20px;
}

.allocation-state {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.allocation-failed {
  margin-right: 10px;
}

.sandbox-created {
  color: $success;
  margin-right: 10px;
}


.allocation-progress {
  max-width: 30%;
  margin-right: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-progress-bar {
  width: 70%;
}

.sandbox {
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sandbox-table-wrapper {
  flex-grow: 10;
}

.sandbox-table {
  margin: auto auto;
  flex-grow: 10;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: left;
}

table {
  width: 100%;
}

td.id, th.id {
  width: 20%;
}

td.state, th.state {
  width: 50%;
}

td.actions, th.actions {
  width: 30%;
}

.error {
  color: $warn;
  text-align: center;
}
