<h1 mat-dialog-title>Choose Training Definition</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <mat-selection-list #trainingDefsList [(ngModel)]="selectedTrainingDefs">
    <mat-list-option *ngFor="let training of trainingDefs$ | async"
                     [value]="training">
      {{ training.title }}
    </mat-list-option>
  </mat-selection-list>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="primary">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedTrainingDefs || selectedTrainingDefs.length === 0"
          mat-button color="primary">Confirm</button>
</div>
