.footer {
  place-content: center;
  display: flex;
  background: white;
}

.content {
  align-items: center;
  display: flex;
}

img {
  width: 200px;
  height: 100px;
}

p {
  margin-top: 10px;
  width: 600px;
}


