.content {
  display: flex;
  flex-direction: row;
}

.content mat-vertical-stepper {
  flex-grow: 8;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
}

