<div class="header">
  <h2>Levels</h2>
  <button class="add-level" mat-icon-button color="primary" [disabled]="!isTrainingSaved" [matMenuTriggerFor]="menu">
    <mat-icon>add_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="addGameLevel()">
      <mat-icon>videogame_asset</mat-icon>
      <span>Game level</span>
    </button>
    <button mat-menu-item
            (click)="addAssessmentLevel()">
      <mat-icon>question_answer</mat-icon>
      <span>Assessment level</span>
    </button>
    <button mat-menu-item
            (click)="addInfoLevel()">
      <mat-icon>info</mat-icon>
      <span>Info level</span>
    </button>
  </mat-menu>
</div>

<div class="content">
  <mat-horizontal-stepper
    *ngIf="levels.length > 0" #stepper>
    <mat-step *ngFor="let level of levels; index as i">
      <ng-template matStepLabel>Level {{ i + 1 }}</ng-template>
      <div class="step-content">
        <level-configuration [level]="level"></level-configuration>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

