<div class="controls">
  <button [disabled]="selectedRuns?.length < 1" mat-raised-button color="warn" (click)="deleteSelectedTrainingRuns()">
    <span *ngIf="selectedRuns?.length > 0 else show">Delete ({{selectedRuns?.length}})</span>
    <ng-template #show>Delete</ng-template>
  </button>
</div>
<mat-divider></mat-divider>
<kypo2-table
  elevation="0"
  [data] ="trainingRuns | async"
  [hasError]="hasError$ | async"
  (refresh)="onTableLoadEvent($event)"
  (rowAction)="onArchivedTrainingRunTableAction($event)"
  (rowSelection)="onRowSelection($event)">
</kypo2-table>

