<div class="controls">
  <button [disabled]="selectedTrainingRuns?.length < 1" mat-raised-button color="warn" (click)="deleteArchivedTrainingRuns()">
    <span *ngIf="selectedTrainingRuns?.length > 0 else show">Delete ({{selectedTrainingRuns?.length}})</span>
    <ng-template #show>Delete</ng-template>
  </button>
</div>
<mat-divider></mat-divider>
<kypo2-table
  elevation="0"
  [data] ="archivedTrainingRuns$ | async"
  [hasError]="archivedTrainingRunsTableHasError$ | async"
  [totalElements]="archivedTrainingRunsTotalLength$ | async"
  (refresh)="onTableLoadEvent($event)"
  (rowAction)="onArchivedTrainingRunTableAction($event)"
  (rowSelection)="onRowSelection($event)">
</kypo2-table>

