<h1 mat-dialog-title>Choose Training Definition</h1>
<mat-divider></mat-divider>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div mat-dialog-content *ngIf="!isLoading">
  <mat-list>
    <h3 mat-subheader *ngIf="releasedTrainingDefs.length > 0">Released</h3>
    <mat-list-item *ngFor="let training of releasedTrainingDefs">
      <mat-radio-button [checked]="training === selectedTrainingDef"
                        [value]="training"
                        (change)="selectedTrainingDef = $event.value">
        {{ training.title }}
      </mat-radio-button>
    </mat-list-item>
    <div class="empty-content" *ngIf="releasedTrainingDefs.length === 0">
      <p class="mat-typography">No released training definitions found.</p>
    </div>
    <h3 mat-subheader *ngIf="unreleasedTrainingDefs.length > 0">Unreleased</h3>
    <mat-list-item *ngFor="let training of unreleasedTrainingDefs">
      <mat-radio-button [checked]="training === selectedTrainingDef"
                        [value]="training"
                        (change)="selectedTrainingDef = $event.value">
        {{ training.title }}
      </mat-radio-button>
    </mat-list-item>
    <div class="empty-content" *ngIf="unreleasedTrainingDefs.length === 0">
      <p class="mat-typography">No unreleased training definitions found.</p>
    </div>
  </mat-list>

</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="warn">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedTrainingDef"
          mat-button color="primary">Confirm</button>
</div>

