<h1 mat-dialog-title>Choose Training Definition</h1>
<mat-divider></mat-divider>
<div mat-dialog-content *ngIf="!isLoading">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let training of trainingDefs">
      <mat-radio-button [checked]="training === selectedTrainingDef"
                        [value]="training"

                        (change)="selectedTrainingDef = $event.value">
        {{ training.title }}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="warn">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedTrainingDef"
          mat-button color="primary">Confirm</button>
</div>

