<div class="container">
  <div class="content">
    <markdown [data]="level.instructions"></markdown>
    <!-- QUESTIONS -->
    <div class="questions">
      <div *ngFor="let question of level.questions; index as i" class="question">
        <mat-divider></mat-divider>
        <kypo2-trainee-question
          [question]="question"
          [index]="i + 1"
          (contentChanged)="onContentChanged()">
        </kypo2-trainee-question>
      </div>
    </div>
  </div>
  <div class="footer">
    <button *ngIf="!isSubmitted"
            mat-raised-button
            color="primary"
            [disabled]="!canSubmit"
            (click)="submit()">
      Submit
    </button>
    <kypo2-next-level-button *ngIf="isSubmitted"
      [isLast]="isLast"
      (next)="onNext()">
    </kypo2-next-level-button>
  </div>
</div>
