<div class="mat-typography content">
  <h1 mat-dialog-title>Select Training Definition</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    <mat-list>
      <kypo-paginated-resource-list resourceName="Released Training Definitions"
                                    [resource]="released$ | async"
                                    [hasError]="releasedHasError$ | async"
                                    [selected]="selected"
                                    [pageSize]="PAGE_SIZE"
                                    (fetch)="fetch($event, true)"
                                    (selectionChange)="onSelectionChange($event)">
      </kypo-paginated-resource-list>
      <kypo-paginated-resource-list resourceName="Unreleased Training Definitions"
                                    [resource]="unreleased$ | async"
                                    [hasError]="unreleasedHasError$ | async"
                                    [selected]="selected"
                                    [pageSize]="PAGE_SIZE"
                                    (fetch)="fetch($event, false)"
                                    (selectionChange)="onSelectionChange($event)">
      </kypo-paginated-resource-list>
    </mat-list>
  </div>

  <div mat-dialog-actions>
    <button (click)="cancel()"
            mat-button color="warn">Cancel</button>
    <span class="spacer"></span>
    <button (click)="confirm()"
            [disabled]="!selected"
            mat-button color="primary">Select</button>
  </div>
</div>
