mat-card-content {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.pin-form  {
  width: 150px;
}

.prefix-form  {
  min-width: 250px;
}

.divider {
	margin: 5px;
	font-size: x-large;
}
