<kypo2-controls [controls]="controls"
                (action)="onControlAction($event)">
</kypo2-controls>
<mat-divider></mat-divider>
<div *ngIf="(stepperLevels | async).length > 0 else noLevels">
 <kypo2-levels-stepper [activeStep]="activeStep$ | async"
                       [levels]="stepperLevels | async"
                       [movingInProgress]="levelMovingInProgress"
                       (levelSwap)="onLevelMoved($event)"
                       (activeStepChange)="onActiveLevelChange($event)">
 </kypo2-levels-stepper>
 <mat-divider></mat-divider>
 <kypo2-level-edit [level]="(stepperLevels | async)[activeStep$ | async].level" (levelChange)="onActiveLevelChanged($event)"></kypo2-level-edit>
</div>

<ng-template #noLevels>
 <h3>Start by clicking on Add button</h3>
</ng-template>


