<div *ngIf="portalAgendaContainer.displayed" class="portal-row">
    <div class="portal-items-container">
        <div *ngFor="let agendaPortalLink of portalAgendaContainer.agendas">
            <crczp-portal-agenda-link
                [portalAgendaLink]="agendaPortalLink"
                [elevation]="elevation"
                (navigate)="navigate($event)"
                (elevate)="elevate($event)"/>
        </div>
    </div>
    <div class="portal-description-container">
        <h2>{{ portalAgendaContainer.label }}</h2>
        <div *ngFor="let agenda of portalAgendaContainer.agendas">
            <crczp-portal-agenda-description
                [label]="agenda.label"
                [description]="agenda.description"
                [disabled]="agenda.disabled"
                [elevation]="elevation"
                (elevate)="elevate($event)">
            </crczp-portal-agenda-description>
        </div>
    </div>
</div>
