<div class="hint">
  <div class="header">
    <h3>Hint {{order + 1}}</h3>

    <!-- TITLE filed -->
    <div class="title">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input [disabled]="disabled"(ngModelChange)="hintChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
        <button mat-button *ngIf="title && !disabled" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; hintChanged()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- HINT PENALTY field -->
    <div class="penalty">
      <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxHintPenalty }}">
        <mat-label>Hint Penalty</mat-label>
        <input [disabled]="disabled" (ngModelChange)="hintChanged(); onPenaltyChanged()" matInput placeholder="Hint Penalty" type="number" [max]="maxHintPenalty" min="0" [(ngModel)]="hintPenalty" required>
      </mat-form-field>
    </div>
  </div>

  <div class="content">
    <!--CONTENT field -->
    <h3>Content</h3>
    <markdown-editor (contentChange)="hintChanged()" class="mrkdwn-content" [(content)]="content"></markdown-editor>
  </div>

  <button mat-raised-button color="warn" [disabled]="disabled" (click)="onDeleteHint()">Delete hint</button>
</div>
