<h1 *ngIf="(editMode$ | async) else newTrainingMainTitle">Edit {{ tdTitle$ | async }}</h1>
<ng-template #newTrainingMainTitle><h1>Create Training Definition</h1></ng-template>

<mat-expansion-panel  [expanded]="!(editMode$ | async)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="(editMode$ | async) else newTrainingTitle">Edit {{ tdTitle$ | async }}</span>
      <ng-template #newTrainingTitle>Create Training Definition</ng-template>
    </mat-panel-title>
    <mat-panel-description>
      <span>{{ tdTitle$ | async }}</span>
      <span class="spacer"></span>
      <div class="panel-description-error" *ngIf="!canDeactivateTDEdit">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Changes are not saved</mat-error>
      </div>
      <mat-icon>edit</mat-icon>
    </mat-panel-description>

  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <kypo2-training-definition-edit-controls
      [disabled]="saveDisabled$ | async"
      [editMode]="editMode$ | async"
      (save)="onSave($event)">
    </kypo2-training-definition-edit-controls>
    <mat-divider></mat-divider>
    <kypo2-training-definition-edit
      (edited)="onTrainingDefinitionChanged($event)"
      [trainingDefinition]="trainingDefinition$ | async">
    </kypo2-training-definition-edit>
  </ng-template>

</mat-expansion-panel>

<mat-expansion-panel [disabled]="!(editMode$ | async)" [expanded]="editMode$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>Edit Authors</mat-panel-title>
    <mat-panel-description>
      <span class="spacer"></span>
      <div class="panel-description-error" *ngIf="!canDeactivateAuthors">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Authors are not saved</mat-error>
      </div>
      <mat-icon>person</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <kypo2-user-assign *ngIf="editMode$ | async"
                       resourceIcon="list_alt"
                       [resource]="trainingDefinition$ | async"
                       [defaultPaginationSize]="defaultPaginationSize"
                       (hasUnsavedChanges)="onAuthorsChanged($event)"
                      toAssignTitle="Designers"
                      assigneesTitle="Authors">
    </kypo2-user-assign>
  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel [disabled]="!(editMode$ | async)" [expanded]="editMode$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>Edit Levels</mat-panel-title>
    <mat-panel-description>
      <span *ngIf="levelsCount >= 0 else levelCountFromTD">Training definition contains {{ levelsCount }} level(s)</span>
      <ng-template #levelCountFromTD>
        <span>Training definition contains {{ (trainingDefinition$ | async).levels.length}} level(s)</span>
      </ng-template>
      <span class="spacer"></span>
      <div class="panel-description-error" *ngIf="unsavedLevels.length > 0">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Some levels are not saved</mat-error>
      </div>
      <mat-icon>games</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <kypo2-level-overview *ngIf="editMode$ | async"
                          [trainingDefinition]="trainingDefinition$ | async"
                          (levelsCount)="onLevelsCountChanged($event)"
                          (unsavedLevels)="onUnsavedLevelsChanged($event)">
    </kypo2-level-overview>
  </ng-template>
</mat-expansion-panel>
