<div class="wrong-flag">
  <h1 mat-dialog-title>{{ data.title | titlecase}}</h1>
  <div mat-dialog-content>
    <p class="mat-body-1">You have submitted incorrect flag.</p>
    <p class="mat-body-1" *ngIf="data.remainingAttempts > 0">You have {{ data.remainingAttempts}} remaining attempts.</p>
    <p class="mat-body-1" *ngIf="data.remainingAttempts <= 0">Please insert flag shown in the solution.</p>
  </div>
  <div mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-button color="primary" (click)="confirm()">OK</button>
  </div>
</div>
