<div class="content">
  <form [formGroup]="assessmentFormGroup.formGroup">
  <div class="panel-wrapper">
    <div class="left-panel">
      <!-- TITLE field -->
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" required>
        <button mat-button *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.setValue('');">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="title.hasError('required')">Title cannot be empty</mat-error>
      </mat-form-field>

      <!-- ESTIMATED DURATION field -->
      <mat-form-field appearance="outline" hintLabel="Number in minutes. Range from 1 to 60">
        <mat-label>Estimated Duration in minutes</mat-label>
        <input matInput placeholder="Estimated Duration in Minutes" type="number" max="60" min="1" formControlName="estimatedDuration">
        <mat-error *ngIf="estimatedDuration.hasError('min') || estimatedDuration.hasError('max')">Estimated duration must be a number in range from 1 to 60</mat-error>
      </mat-form-field>

      <!-- INSTRUCTIONS field -->
      <h3>Instructions</h3>
      <kypo2-markdown-editor class="mrkdwn-content" [kypo2-markdown-file-upload]="false" (contentChange)="instructions.setValue($event)" [content]="instructions.value"></kypo2-markdown-editor>
    </div>
    <div class="right-panel">
      <div class="test-toggle-wrapper">
        <span class="test-toggle-right-margin">Questionnaire</span>
        <mat-slide-toggle
          matTooltip="Switching to questionnaire wil delete your answers"
          formControlName="isTest">
        </mat-slide-toggle>
        <span class="test-toggle-left-margin">Test</span>
      </div>
    </div>
  </div>

  <!-- QUESTIONS component -->
  <kypo2-question-overview (questionsChange)="onQuestionsChanged($event)" [questions]="level.questions" [isTest]="isTest.value"></kypo2-question-overview>
  </form>
</div>

