<div class="container">
  <div class="header">
    <h2>Access Training Run</h2>
  </div>
  <div class="content">
    <mat-form-field appearance="outline">
      <mat-label>Access Token</mat-label>
      <input matInput placeholder="Access Token" [(ngModel)]="accessToken" required>
      <button mat-button *ngIf="accessToken" matSuffix mat-icon-button aria-label="Clear" (click)="accessToken=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="access()">Access</button>
  </div>
  <mat-spinner *ngIf="isLoading" mode="indeterminate"></mat-spinner>
</div>

