.container {
  display: flex;
  justify-content: center;
}

mat-divider {
  background-color: white;
}

mat-list-item:first-child {
  margin-top: unset;
}
mat-list-item {
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px !important;
  color: #C3C5CB !important;
}

:host ::ng-deep .mat-list-item-content {
  justify-content: center;
}
