@import "../../../../theme.scss";
.tree-invisible {
  display: none;
}

ul {
  padding: 0;
}

.tree ul,
.tree li {
  background-color: #1A1717;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mat-icon-rtl-mirror {
  color: white;
}
