.content {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.main-button {
  width: 100%;
  display: flex;
  justify-content: flex-end
}

button {
  margin-right: 50px;
}

.timer {
  margin: 10px 10px;
  display: flex;
  justify-content: flex-end;
}

.training-run {
  pointer-events: none !important;
}
