<div class="content">
  <mat-horizontal-stepper *ngIf="withStepper && levels"
                          (selectionChange)="stepClick($event)"
                          [selectedIndex]="selectedStep"
                          [linear]="true"
                          #stepper>
    <mat-step *ngFor="let level of levels; index as i"
              [editable]="false"
              [completed]="i <= selectedStep">
      <ng-template matStepLabel>{{ level.title }}</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
  <training-run-level></training-run-level>
  <div class="main-button" *ngIf="levels">
    <button *ngIf="selectedStep + 1 < levels.length" mat-raised-button color="primary" (click)="nextLevel()">Next</button>
    <button *ngIf="selectedStep + 1 === levels.length" mat-raised-button color="primary" (click)="showResults()">Finish</button>
  </div>
</div>

