<mat-horizontal-stepper *ngIf="withStepper && levels"
                        (selectionChange)="stepClick($event)"
                        [selectedIndex]="selectedStep"
                        [linear]="true"
                        #stepper>
  <mat-step *ngFor="let level of levels"
            [editable]="false">
    <ng-template matStepLabel>{{ level.title }}</ng-template>
    <div>
      <button *ngIf="selectedStep + 1 < levels.length" mat-button matStepperNext >Next</button>
      <button *ngIf="selectedStep + 1 === levels.length" mat-button (click)="showResults()">Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<training-run-level></training-run-level>
<div class="without-stepper" *ngIf="!withStepper && levels">
  <div>
    <button *ngIf="selectedStep + 1 < levels.length" mat-button (click)="nextLevel()">Next</button>
    <button *ngIf="selectedStep + 1 === levels.length" mat-button (click)="showResults()">Finish</button>
  </div>
</div>
