<div class="content">
  <button class="control-button" mat-raised-button color="primary" [matMenuTriggerFor]="levelMenu">
    <span>Add</span>
  </button>

  <mat-menu #levelMenu="matMenu">
    <button mat-menu-item
            (click)="onAdd(levelTypes.Game)">
      <mat-icon>videogame_asset</mat-icon>
      <span>Game level</span>
    </button>
    <button mat-menu-item
            (click)="onAdd(levelTypes.Assessment)">
      <mat-icon>assignment</mat-icon>
      <span>Assessment level</span>
    </button>
    <button mat-menu-item
            (click)="onAdd(levelTypes.Info)">
      <mat-icon>info</mat-icon>
      <span>Info level</span>
    </button>
  </mat-menu>

  <button class="control-button" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
  <button class="control-button" mat-raised-button color="primary" [disabled]="saveDisabled" (click)="onSave()">Save</button>
</div>
