<div class="prompt" *ngIf="data.dialogType === 'warning'">
  <h1 mat-dialog-title>{{ data.title | titlecase }}</h1>
  <div mat-dialog-content>
    <p class="mat-body-1">Do you want to unlock {{ data.dataType }}?</p>
    <p class="mat-body-1">It will cost you {{ data.penalty }} points.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="cancel()">Cancel</button>
    <button mat-button (click)="confirm()">Pick</button>
  </div>
</div>

<div class="wrong-flag" *ngIf="data.dialogType === 'failure'">
  <h1 mat-dialog-title>{{ data.title | titlecase}}</h1>
  <div mat-dialog-content>
    <p class="mat-body-1">You have submitted incorrect flag.</p>
    <p class="mat-body-1">{{ data.penalty }} penalty points were added.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="confirm()">OK</button>
  </div>
</div>
