<div class="content">
  <!-- TITLE field-->
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input (ngModelChange)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
    <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title =''; contentChanged()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div class="inline-input">
    <!-- SCORE field -->
    <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxQuestionScore }}">
      <mat-label>Points</mat-label>
      <input [disabled]="!required" (ngModelChange)="contentChanged()" matInput placeholder="Points" type="number" [max]="maxQuestionScore" min="0" [(ngModel)]="score" [required]="required">
    </mat-form-field>

    <!-- PENALTY field -->
    <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxQuestionPenalty }}">
      <mat-label>Penalty points</mat-label>
      <input [disabled]="!required || !isTest" (ngModelChange)="contentChanged()" matInput placeholder="Question Penalty points" type="number" [max]="maxQuestionPenalty" min="0" [(ngModel)]="penalty" [required]="required">
    </mat-form-field>
  </div>


  <button *ngIf="correctAnswersIndices.length > 0" mat-button color="warn" (click)="clearAnswers()" class="clear-answers">Clear Answers</button>
  <!-- OPTIONS field -->
  <div *ngFor="let option of options; index as i; trackBy: trackByFn" class="option">
    <mat-checkbox [disabled]="!isTest || !required" [checked]="correctAnswersIndices.includes(i)" (change)="onAnswerChanged($event, i)"></mat-checkbox>
    <mat-form-field>
      <mat-label>Option {{ i + 1 }}</mat-label>
      <input (ngModelChange)="contentChanged()" matInput placeholder="Option {{ i + 1 }}" [(ngModel)]="options[i]">
      <button mat-button *ngIf="option" matSuffix mat-icon-button aria-label="Clear" (click)="options[i]= ''; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button matSuffix mat-icon-button aria-label="Delete option" color="warn" matTooltip="Delete option"
            (click)="deleteOption(i)">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </div>

  <div class="main-button">
    <button (click)="addOption()" mat-button color="primary">Add Option</button>
  </div>
</div>
