<kypo-controls [controls]="controls" (itemClicked)="onControlsAction($event)"></kypo-controls>
<kypo-radio-list *ngIf="!(hasPool$ | async) else hasPoolTemplate"
                  resourceName="Pools"
                  [resourceMapping]="resourceMapping"
                  [resource]="pools$ | async"
                  [hasError]="hasError$ | async"
                  [selected]="selected$ | async"
                  [pageSize]="PAGE_SIZE"
                  (fetch)="fetch($event)"
                  (selectionChange)="onSelectionChange($event)">
</kypo-radio-list>
<ng-template #hasPoolTemplate>
  <h4>Pool {{ trainingInstance.poolId}} is assigned to this training instance.
    <a mat-button color="accent" [routerLink]="this.poolDetailRoute">Show</a>
  </h4>
</ng-template>
