<div class="content">
  <form [formGroup]="trainingConfigurationFormGroup.formGroup">
    <div class="form-container">
      <div class="left-col">
        <!-- TITLE field-->
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required>
          <button mat-button *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Title cannot be empty</mat-error>
        </mat-form-field>


        <!-- DESCRIPTION field-->
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea  matInput placeholder="Description" formControlName="description"></textarea>
          <button mat-button *ngIf="description.value" matSuffix mat-icon-button aria-label="Clear" (click)="description.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- PREREQUISITES field-->
        <mat-form-field appearance="outline">
          <mat-label>Notes for instructors</mat-label>
          <textarea  matInput placeholder="Notes for instructors" formControlName="prerequisites"></textarea>
          <button mat-button *ngIf="prerequisites.value" matSuffix mat-icon-button aria-label="Clear" (click)="prerequisites.setValue(['']);">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- OUTCOMES field-->
        <mat-form-field appearance="outline">
          <mat-label>Learning outcomes</mat-label>
          <textarea  matInput placeholder="Learning outcomes" formControlName="outcomes"></textarea>
          <button mat-button *ngIf="outcomes.value" matSuffix mat-icon-button aria-label="Clear" (click)="outcomes.setValue(['']);">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="right-col">

        <!-- AUTHORS field-->
        <div class="form-line">
          <div class="form-line-content">
            <p *ngIf="authors.value" style="color: black">Authors: {{ authors.value | shorterAuthorsFormat: activeUser }}</p>
            <p *ngIf="!authors.value">Authors*</p>
            <button (click)="chooseAuthors()"
                    mat-button color="accent">
              Choose
            </button>
            <mat-error *ngIf="authors.hasError('required')">Authors cannot be empty</mat-error>
          </div>
        </div>


        <!-- SANDBOX DEFINITION field-->
        <div class="form-line">
          <div class="form-line-content">
            <p *ngIf="!sandboxDefId.value">Sandbox Definition Id*</p>
            <p *ngIf="sandboxDefId.value" style="color: black"> Sandbox Definition Id: {{ sandboxDefId.value }}</p>
            <button (click)="chooseSandboxDefs()"
                    mat-button color="accent">
              Choose
            </button>
          </div>
          <mat-error *ngIf="sandboxDefId.hasError('required')">No sandbox definiton specified. Training definition requires one sandbox definition</mat-error>
        </div>

        <!-- BETA TESTING GROUP field-->
        <div class="form-line">
          <div class="form-line-content">
            <p *ngIf="betaTestingGroup.value" style="color: black"> Beta Testing Group: {{ betaTestingGroup.value?.organizers | shorterAuthorsFormat: activeUser }}</p>
            <p *ngIf="!betaTestingGroup.value">Beta Testing Group</p>
            <button
              *ngIf="!betaTestingGroup.value"
              (click)="chooseBetaTestingGroup()"
              mat-button color="accent">
              Create
            </button>
            <button
              *ngIf="betaTestingGroup.value"
              (click)="chooseBetaTestingGroup()"
              mat-button color="accent">
              Edit
            </button>
          </div>
        </div>

        <!-- SHOW STEPPER BAR checkbox-->
        <div class="form-line">
          <div class="form-line-content">
            <span class="spacer"></span>
            <mat-checkbox matTooltip="When active, trainee can see which level he is playing and how many there are until the end"
                          labelPosition="before"
                          formControlName="showProgress">
              Show Stepper Bar
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>



    <!-- SAVE button-->
    <div class="main-button">

      <button (click)="saveTrainingDef()"
              [disabled]="!this.trainingConfigurationFormGroup.formGroup.dirty || !this.trainingConfigurationFormGroup.formGroup.valid"
              mat-raised-button color="primary">
        <span *ngIf="editMode; else createButton">Save</span>
        <ng-template #createButton>Create</ng-template>
      </button>

      <button *ngIf="this.editMode" (click)="saveTrainingDef(true)"
              [disabled]="!this.trainingConfigurationFormGroup.formGroup.dirty || !this.trainingConfigurationFormGroup.formGroup.valid"
              mat-raised-button color="accent">
        Save and edit levels
      </button>

    </div>
  </form>
</div>

