<ng-container *ngIf="(request$ | async) as request">
  <h1>{{ request.type | titlecase}} Request {{ request.id }}</h1>
  <ng-container *ngIf="hasError$ | async">
    <mat-card class="error">
      <span>We had some trouble loading the data.</span>
      <button mat-icon-button (click)="reloadStages()" color="primary"><mat-icon>refresh</mat-icon></button>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="(stages$ | async) as stages">
    <div *ngIf="stages.length > 0 else noStages">
      <kypo2-request-stage *ngFor="let stage of stages; trackBy: trackByFn; let i = index;"
                           [stage]="stage"
                           [stageDetail]="getStageDetail(stage.id)"
                           (stageDetailEvent)="onStageDetailEvent($event)"
                           (fetchAnsibleOutput)="onFetchAnsibleOutput($event)">
      </kypo2-request-stage>
    </div>
    <ng-template #noStages>
      <h2>Request has no stages</h2>
    </ng-template>
  </ng-container>
</ng-container>
