<mat-expansion-panel  [expanded]="!(editMode$ | async)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="(editMode$ | async) else newTrainingTitle">Edit Training Instance</span>
      <ng-template #newTrainingTitle>Create Training Instance</ng-template>
    </mat-panel-title>
    <mat-panel-description>{{ tiTitle$ | async }}</mat-panel-description>
  </mat-expansion-panel-header>
  <kypo2-training-instance-edit-controls
    [disabled]="saveDisabled$ | async"
    [editMode]="editMode$ | async"
    (save)="onSave($event)">
  </kypo2-training-instance-edit-controls>
  <mat-divider></mat-divider>
  <kypo2-training-instance-edit
    (edited)="onTrainingInstanceChanged($event)"
    [trainingInstance]="trainingInstance$ | async">
  </kypo2-training-instance-edit>
</mat-expansion-panel>

<mat-expansion-panel [disabled]="!(editMode$ | async)" [expanded]="editMode$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>Edit Organizers</mat-panel-title>
    <mat-panel-description>
      <div class="panel-description-error" *ngIf="!canDeactivateOrganizers">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Organizers are not saved</mat-error>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <kypo2-user-assign *ngIf="editMode$ | async"
                     (hasUnsavedChanges)="onOrganizersChanged($event)"
                     [resource]="trainingInstance$ | async"
                     [defaultPaginationSize]="defaultPaginationSize"
                     toAssignTitle="Organizers"
                     assigneesTitle="Organizers">
  </kypo2-user-assign>
</mat-expansion-panel>
