<div class="training">
  <h2>Active Training Runs</h2>
  <div class="training-table-wrapper">
    <div class="training-table">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
               [disabled]="isInErrorState"
               placeholder="Filter by state">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="loading"
             *ngIf="isLoadingResults || isInErrorState">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="loading-error" *ngIf="isInErrorState">
            We have some trouble loading the data. Please try again later.
            <button mat-icon-button (click)="fetchData()" color="primary"><mat-icon>refresh</mat-icon></button>
          </div>
        </div>

        <table mat-table [dataSource]="activeTrainingRunsDataSource" matSort>

          <!-- SANDBOX ID Column -->
          <ng-container matColumnDef="sandboxInstanceId">
            <th class="sandboxInstanceId" mat-header-cell *matHeaderCellDef>Sandbox ID</th>
            <td class="sandboxInstanceId" mat-cell *matCellDef="let data">
              {{ data.trainingRun?.sandboxInstanceId }}
            </td>
          </ng-container>

          <!-- SANDBOX STATE Column -->
          <ng-container matColumnDef="sandboxInstanceState">
            <th class="sandboxInstanceState" mat-header-cell *matHeaderCellDef>Sandbox State</th>
            <td class="sandboxInstanceState" mat-cell *matCellDef="let data">
              {{ data.trainingRun?.sandboxInstanceState }}
            </td>
          </ng-container>

          <!-- PLAYER NAME Column -->
          <ng-container matColumnDef="player">
            <th class="playerId" mat-header-cell *matHeaderCellDef>Player</th>
            <td class="playerId" mat-cell *matCellDef="let data">
              {{ data.trainingRun?.player?.name }}
            </td>
          </ng-container>

          <!-- STATE Column -->
          <ng-container matColumnDef="state">
            <th class="state" mat-sort-header mat-header-cell *matHeaderCellDef>Training Run State</th>
            <td class="state" mat-cell *matCellDef="let data">
              {{ data.trainingRun?.state }}
            </td>
          </ng-container>

          <!-- ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions" mat-cell *matCellDef="let data">

              <div class="action-buttons">
                <!-- REVERT button-->
                <button
                        mat-icon-button color="primary"
                        matTooltip="Revert training run"
                        *ngIf="data.trainingRun?.sandboxInstanceState !== 'REVERT_IN_PROGRESS'
                            && (data.trainingRun?.player || data.trainingRun?.state === 'FINISHED')"
                        (click)="revertTrainingRun(data)">
                  <mat-icon
                    aria-label="Revert training run button">
                    rotate_left</mat-icon>
                </button>

                <mat-progress-bar mode="indeterminate" *ngIf="data.trainingRun?.sandboxInstanceState === 'REVERT_IN_PROGRESS'"></mat-progress-bar>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
