<h1>Training Definition Overview</h1>
<div class="content">
  <div class="train-def-table">
    <kypo2-training-definition-actions-panel
      (action)="onActionPanelEvent($event)"
    ></kypo2-training-definition-actions-panel>
    <kypo2-table
      [defaultSortDirection]="INIT_SORT_DIR"
      [defaultSortName]="INIT_SORT_NAME"
      [data]="trainingDefinitions$ | async"
      [hasError]="isInErrorState"
      (refresh)="fetchData($event)"
      (rowAction)="onTrainingDefinitionTableAction($event)"
      [totalElements]="trainingDefinitionsTotalLength"
    >
    </kypo2-table>
  </div>
</div>
