<a routerLink="/home"
   class="main-nav"
  mat-button color="primary">
  1. HOME PAGE
</a>

<div *ngFor="let menuSection of menuSections; let menuSectionOrder = index">
  <p class="main-nav">
     {{ menuSectionOrder + 2}} {{ menuSection.name }}
  </p>

  <a *ngFor="let agenda of menuSection.agendas; let agendaOrder = index"
     class="sub-nav"
     routerLink="{{agenda.route}}"
     mat-button color="primary">
    {{ menuSectionOrder + 2 }}.{{ agendaOrder + 1 }} {{ agenda.title }}
  </a>
</div>
