<h2>List of Training Instances</h2>
<div class="training">
  <div class="training-table-wrapper">
    <div class="training-table">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by title">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- TITLE Column -->
          <ng-container matColumnDef="title">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td class="title" mat-cell *matCellDef="let training"> {{training.title}}</td>
          </ng-container>

          <!-- DATE Column -->
          <ng-container matColumnDef="date">
            <th class="date" mat-header-cell *matHeaderCellDef>Date</th>
            <td class="date" mat-cell *matCellDef="let training">
              {{ training.startTime.toDateString() }} - {{ training.endTime.toDateString() }}</td>
          </ng-container>

          <!-- STATE Column -->
          <ng-container matColumnDef="state">
            <th class="state" mat-header-cell *matHeaderCellDef>State</th>
            <td class="state" mat-cell *matCellDef="let training"> Undefined</td>
          </ng-container>

          <!-- POOLSIZE Column -->
          <ng-container matColumnDef="poolSize">
            <th class="poolSize" mat-header-cell *matHeaderCellDef>Pool Size</th>
            <td class="poolSize" mat-cell *matCellDef="let training"> {{ training.poolSize }}</td>
          </ng-container>

          <!-- PASSWORD Column -->
          <ng-container matColumnDef="password">
            <th class="password" mat-header-cell *matHeaderCellDef>Password</th>
            <td class="password" mat-cell *matCellDef="let training"> {{ training.keyword }}</td>
          </ng-container>

          <!-- ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions" mat-cell *matCellDef="let training">

              <div class="action-buttons">

                <!-- EDIT button-->
                <button *ngIf="training.startTime.valueOf() > now"
                        mat-icon-button color="primary"
                        (click)="editTraining(training)">
                  <mat-icon
                    matTooltip="Edit training instance"
                    aria-label="Edit training instance">
                    edit</mat-icon>
                </button>

                <!-- REMOVE button-->
                <button *ngIf="training.endTime.valueOf() < now"
                        mat-icon-button color="primary"
                        (click)="removeTraining(training)">
                  <mat-icon
                    matTooltip="Remove training instance"
                    aria-label="Remove training instance button">
                    delete</mat-icon>
                </button>

                <!-- ARCHIVE button-->
                <button *ngIf="training.endTime.valueOf() < now"
                        mat-icon-button color="primary"
                        (click)="archiveTraining(training)">
                  <mat-icon
                    matTooltip="Archive training instance"
                    aria-label="Archive training instance button">
                    archive</mat-icon>
                </button>

                <!-- ALLOCATE button-->
                <button
                        mat-icon-button color="primary"
                        (click)="allocateTraining(training)">
                  <mat-icon
                    matTooltip="Allocate resources for training instance"
                    aria-label="Allocate resources for training instance button">
                    launch</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
