<mat-form-field class="full-width">
  <mat-chip-list #userChipList aria-label="Users selection">
    <mat-chip class="user-chip"
      *ngFor="let selectedUser of selectedUsers; let i = index"
       removable
      (removed)="removeSelected(i)">
      {{ selectedUser.name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Search {{ userTypeLabel | lowercase }} by surname or firstname and surname..."
      #userInput
      [formControl]="userControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="userChipList"
      (click)="fetchUsers('')">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
    <mat-option *ngFor="let user of users" [value]="user"  [disabled]="alreadySelected(user)" (onSelectionChange)="selectUser($event, user)">
     <div class="user">
       <div class="user-picture-container">
         <img [alt]="user.name" src="data:image/png;base64,{{ user?.picture }}">
       </div>
       <div class="user-info">
         <div class="user-name">{{ user?.name }}</div>
         <div class="user-login">{{ user?.login }}</div>
       </div>
     </div>
    </mat-option>
    <mat-option *ngIf="!isLoading && (!users || users.length <= 0)" disabled>No matches found</mat-option>
    <mat-option *ngIf="isLoading" disabled><mat-progress-spinner diameter="35" mode="indeterminate"></mat-progress-spinner></mat-option>
  </mat-autocomplete>
</mat-form-field>
