h1 {
    font-size: xx-large;
    margin-bottom: 33px;
    text-align: center;
}

.portal-content {
    width: 100%;
}

.portal-menu {
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1580px) {
    .portal-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

