<div class="portal-content">
    <h1>CyberRangeᶜᶻ Platform Portal</h1>
    <div class="portal-menu">
        <div *ngFor="let portalAgendaContainer of portalAgendaContainers; let last = last">
            <crczp-portal-agenda-container
                [portalAgendaContainer]="portalAgendaContainer"
                [elevation]="elevated"
                [isLast]="last"
                (navigation)="navigateToRoute($event)"
                (setElevation)="setElevation($event)"/>
        </div>
    </div>
</div>
