h2 {
  text-align: center;
  margin: 20px auto;
}
.train-def {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.train-def-buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.train-def-buttons button {
  margin-top: 20px;
  max-width: 200px;
}

.train-def-table {
  flex-grow: 2;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

table {
  width: 100%;
}


td.title, th.title {
  width: 20%;
}

td.description, th.description {
  width: 30%;
}

td.authors, th.authors {
  width: 20%;
}

td.actions, th.actions {
  width: 20%;
}

td.state, th.state {
  width: 10%;
}




