<h1 mat-dialog-title>Unsaved changes</h1>
<div mat-dialog-content>
  <p class="mat-body-1">Do you want to leave without saving?</p>
  <p *ngFor="let message of messages" class="mat-body-1">{{ message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial color="warn" (click)="cancel()">Cancel</button>
  <span class="spacer"></span>
  <button *ngIf="saveOption" mat-button color="primary" (click)="save()">Save changes</button>
  <button mat-button (click)="confirm()" color="primary">Confirm</button>
</div>
