<h2 *ngIf="hasPoolId">List of sandbox instances</h2>
<h2 *ngIf="!hasPoolId">No sandboxes allocated</h2>
<div class="sandbox">
  <div class="sandbox-table-wrapper">
    <div class="sandbox-table">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by status">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <div class="loading"
             *ngIf="isLoadingResults || isInErrorState">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="loading-error" *ngIf="isInErrorState">
            We have some trouble loading the data. Please try again later.
            <button mat-icon-button (click)="fetchData()" color="primary"><mat-icon>refresh</mat-icon></button>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th class="id" mat-header-cell *matHeaderCellDef>ID</th>
            <td class="id" mat-cell *matCellDef="let data">
              {{data?.sandboxInstance?.id}}
            </td>
          </ng-container>

          <!-- STATE Column -->
          <ng-container matColumnDef="state">
            <th class="state" mat-header-cell *matHeaderCellDef>State</th>
            <td class="state" mat-cell *matCellDef="let data">
              <div class="allocation-state">
                <mat-icon *ngIf="data.isCreated" class="sandbox-created" matTooltip="Sandbox is allocated">done</mat-icon>
                <button *ngIf="data.isFailed" class="allocation-failed" color="warn" matTooltip="Click to display error message" (click)="showSandboxErrorMessage(data)" mat-icon-button>
                  <mat-icon>error</mat-icon>
                </button>
                <mat-progress-bar *ngIf="data.isInProgress" class="allocation-progress" color="accent" mode="indeterminate"></mat-progress-bar>
                <div *ngIf="!data.sandboxInstance then notAllocatedState else allocationState"></div>
                <ng-template #notAllocatedState>
                  <span class="allocation-state-text"> NOT ALLOCATED</span>
                </ng-template>
                <ng-template #allocationState>
                  <span class="allocation-state-text">{{data?.sandboxInstance?.stateLabel}}</span>
                </ng-template>
              </div>
            </td>
          </ng-container>

          <!-- ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions" mat-cell *matCellDef="let data">
              <!-- ALLOCATE button-->
              <button mat-icon-button color="primary"
                      matTooltip="Allocate sandbox instance"
                      [disabled]="isDisabled || !canAllocate || data.sandboxInstance"
                      (click)="allocateSandbox(data)">
                <mat-icon
                  aria-label="Allocate sandbox instance button">
                  subscriptions</mat-icon>
              </button>

              <!-- DELETE button-->
              <button mat-icon-button color="warn"
                      matTooltip="Remove sandbox instance"
                      [disabled]="isDisabled || !data.sandboxInstance"
                      (click)="deleteSandbox(data)">
                <mat-icon
                  aria-label="Remove sandbox instance button">
                  delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
