<div class="level">
  <div class="header">
    <h2>Assessment Level Detail</h2>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </div>

  <div class="content">
    <div class="panel-wrapper">
      <div class="left-panel">
        <!-- TITLE field -->
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input (change)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
          <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; contentChanged()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- INSTRUCTIONS field -->
        <h3>Instructions</h3>
        <shared-markdown-editor class="mrkdwn-content" (change)="contentChanged()" [(content)]="instructions"></shared-markdown-editor>
      </div>

      <div class="right-panel">

        <!-- MAX SCORE field -->
        <mat-form-field appearance="outline" hintLabel="Number in range from 0 to 100">
          <mat-label>Maximal Score</mat-label>
          <input (change)="contentChanged()" matInput placeholder="Maximal Score" type="number" max="100" min="0" [(ngModel)]="maxScore" required>
        </mat-form-field>
      </div>
    </div>
    <!--QUESTIONS component -->
    <question-stepper [(questions)]="questions"></question-stepper>
  </div>

  <div class="footer">
    <span class="spacer"></span>
    <button mat-raised-button color="warn" (click)="onDeleteLevel()">
      Delete
    </button>

    <button mat-raised-button color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </div>
</div>
