<div class="level">
  <div class="header">
    <h2>Assessment Level Detail</h2>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </div>

  <div class="content">
    <div class="panel-wrapper">
      <div class="left-panel">
        <!-- TITLE field -->
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input (change)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
          <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; contentChanged()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- INSTRUCTIONS field -->
        <h3>Instructions</h3>
        <markdown-editor class="mrkdwn-content" (change)="contentChanged()" [(content)]="instructions"></markdown-editor>
      </div>

      <div class="right-panel">

        <mat-checkbox [(ngModel)]="isTest">Is Test?</mat-checkbox>
      </div>
    </div>
    <!--QUESTIONS component -->
    <question-overview [questions]="questions" [isTest]="isTest"></question-overview>
  </div>

  <div class="footer">
    <span class="spacer"></span>
    <button mat-raised-button color="warn" (click)="onDeleteLevel()">
      Delete level
    </button>

    <button mat-raised-button color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </div>
</div>
