@import "../../../../variables";

.error {
  color: $warn;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.list-item {
  height: 25px;
  padding: 10px 10px;
}
