<div class="mat-typography">
  <h1 mat-dialog-title>Choose Training Definition</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    <mat-list>
      <kypo2-training-definition-list-content state="Released"
                                              [resource]="released$ | async"
                                              [hasError]="releasedHasError$ | async"
                                              [selected]="selected"
                                              [pageSize]="pageSize"
                                              (fetch)="fetch($event, true)"
                                              (selectionChange)="onSelectionChange($event)">
      </kypo2-training-definition-list-content>
      <kypo2-training-definition-list-content state="Unreleased"
                                              [resource]="unreleased$ | async"
                                              [hasError]="unreleasedHasError$ | async"
                                              [selected]="selected"
                                              [pageSize]="pageSize"
                                              (fetch)="fetch($event, false)"
                                              (selectionChange)="onSelectionChange($event)">
      </kypo2-training-definition-list-content>
    </mat-list>
  </div>

  <div mat-dialog-actions>
    <button (click)="cancel()"
            mat-button color="warn">Cancel</button>
    <span class="spacer"></span>
    <button (click)="confirm()"
            [disabled]="!selected"
            mat-button color="primary">Confirm</button>
  </div>
</div>
