<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hints
      </mat-panel-title>
      <mat-panel-description>
        {{ hintsArray.length }} hints currently added to this level
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- ADD HINT button -->
    <div class="header">
      <h3>Hints</h3>
      <button [disabled]="disabled" class="add-hint" mat-icon-button color="primary" (click)="addHint()"
              matTooltip="Add new hint">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <!-- HINT stepper -->
    <div *ngIf="hintsArray && hintsArray.length > 0" class="hint-stepper">
      <mat-horizontal-stepper
        [(selectedIndex)]="selectedStep"
        (selectionChange)="selectionChanged($event)"
        #hintStepper>

        <ng-template matStepperIcon="edit" let-index="index">
          <mat-icon>help_outline</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index">
          <mat-icon>help_outline</mat-icon>
        </ng-template>

        <mat-step [stepControl]="hint" *ngFor="let hint of hintsArray.controls; index as i">
          <mat-divider *ngIf="hintsArray && hintsArray.length > 0"></mat-divider>
          <ng-template matStepLabel>Hint {{ i + 1 }}</ng-template>
          <div class="step-content">
            <hint-edit [(hint)]="hints[i]"
                       (hint)="hintsChanged()"
                       (validity)="validityChanged()"
                       (deleteHint)="deleteHint($event)"
                       (penaltyChange)="calculateHintPenaltySum()"
                       [levelMaxScore]="levelMaxScore"
                       [initHintPenaltySum]="initialPenaltySum"
                       [disabled]="disabled"
                       [order]="i"></hint-edit>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-expansion-panel>
</mat-accordion>
