<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hints
      </mat-panel-title>
      <mat-panel-description>
        {{ hintsArray.length }} hints currently added to this level
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- ADD HINT button -->
    <div class="header">
      <h3>Hints</h3>
      <button [disabled]="disabled" class="add-hint" mat-icon-button color="primary" (click)="addHint()"
              matTooltip="Add new hint">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

<!--     HINT stepper-->
    <div *ngIf="stepperHints.items && stepperHints.items.length > 0" class="hint-stepper">
      <kypo2-stepper [selectable]="true" [stepperItems]="stepperHints" [activeIndex]="selectedStep" (stepSwapped)="orderUpdate()" (indexSelected)="selectionChanged($event)" (selectedStepSwapped)="selectionChanged($event)"></kypo2-stepper>
      <div>
        <mat-divider *ngIf="stepperHints.items && stepperHints.items.length > 0"></mat-divider>
        <ng-template matStepLabel>Hint {{ selectedStep + 1 }}</ng-template>
        <div class="step-content">
          <kypo2-hint-edit [hint]="stepperHints.items[selectedStep]"
                     (hintChange)="hintsChanged($event)"
                     (validityChange)="validityChanged()"
                     (deleteHint)="deleteHint($event)"
                     (penaltyChange)="calculateHintPenaltySum()"
                     [levelMaxScore]="levelMaxScore"
                     [initHintPenaltySum]="initialPenaltySum"
                     [disabled]="disabled"
                     [order]="selectedStep">
          </kypo2-hint-edit>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
