.hint-stepper {
  border: 1px solid gainsboro;
  padding: 5px 20px 40px;
}
.step-content {
  padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 20px;
}

mat-divider {
  position: relative!important;
}

h3 {
  margin: 0;
}
