<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Questions
      </mat-panel-title>
      <mat-panel-description>
        {{ questions.length }} questions currently added to this level
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- ADD QUESTION button -->
    <div class="header">
      <h3>Questions</h3>
      <button class="add-question" mat-icon-button color="primary" (click)="addQuestion()"
              matTooltip="Add new question">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <!-- QUESTION stepper -->
    <div class="hint-stepper">
      <mat-horizontal-stepper
        *ngIf="questions.length > 0" #stepper>
        <mat-step *ngFor="let question of questions; index as i">
          <ng-template matStepLabel>Question {{ i + 1 }}</ng-template>
          <div class="step-content">
            <question-configuration [(question)]="questions[i]"></question-configuration>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-expansion-panel>
</mat-accordion>
