<div class="sandboxes" *ngIf="trainingInstance?.endTime.valueOf() > now">
  <h2>Sandboxes</h2>
  <div class="sandbox-error" *ngIf="hasSandboxesInfoError">
    <p color="warn">Could not reach server.</p>
    <button mat-button color="primary" (click)="fetchInfoForSandboxes()">Try Again.</button>
  </div>
  <div *ngIf="!hasSandboxesInfoError" class="sandbox-info">
    <div class="allocate-info">
      <p>Possible to allocate: {{ sandboxCanBeAllocatedCount }}</p>
      <div class="allocate-box">
        <mat-form-field class="allocate-input">
          <input matInput
                 type="number"
                 min="1"
                 [max]="sandboxCanBeAllocatedCount"
                 [disabled]="sandboxCanBeAllocatedCount === undefined || sandboxCanBeAllocatedCount < 1"
                 [(ngModel)]="toAllocateInput">
        </mat-form-field>
        <button mat-button color="primary"
                (click)="sendRequestToAllocateSandboxes(toAllocateInput)"
                [disabled]="toAllocateInput === undefined || toAllocateInput < 1">Allocate</button>
      </div>
    </div>
    <p>Available for players: {{ sandboxAvailableCount }}</p>
    <p>In failed state: {{ sandboxFailedCount }}</p>
    <div class="allocation-progress">
      <p>Allocating right now: {{ sandboxAllocationRunningCount }}</p> <mat-progress-bar *ngIf="sandboxAllocationRunningCount > 0"  color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="allocation-progress">
      <p>Deleting right now: {{ sandboxDeletionRunningCount }} </p> <mat-progress-bar *ngIf="sandboxDeletionRunningCount > 0" color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
