<div class="content"
    *ngIf="trainingInstance && trainingDefinition && organizers">
  <h2> {{ trainingInstance.title }}</h2>
  <h3>{{ trainingDefinition.title }}</h3>
  <p>{{ trainingDefinition.description }}</p>
  <div class="ver-spacer"></div>
  <h2>Access token: {{ trainingInstance.accessToken }}</h2>
  <div class="ver-spacer"></div>
  <h4>Start Time: {{ trainingInstance.startTime | dateTimeFormat }}</h4>
  <h4>End Time: {{ trainingInstance.endTime | dateTimeFormat }}</h4>
  <h4>Pool Size: {{ trainingInstance.poolSize }}</h4>
  <h4> Organizers: {{ organizers }} </h4>
</div>
