<div class="content"
    *ngIf="training && trainingDefinition && organizers">
  <h2> {{ training.title }}</h2>
  <h3>{{ trainingDefinition.title }}</h3>
  <p>{{ trainingDefinition.description }}</p>
  <div class="ver-spacer"></div>
  <h2>Password: {{ training.keyword }}</h2>
  <div class="ver-spacer"></div>
  <h4>Start Time: {{ training.startTime.toDateString() }}</h4>
  <h4>End Time: {{ training.endTime.toDateString() }}</h4>
  <h4>Pool Size: {{ training.poolSize }}</h4>
  <h4> Organizers: {{ organizers }} </h4>
</div>
