h2 {
  text-align: center;
  margin: 20px auto;
}

tr.detail-row {
  height: 0;
}

tr.row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.row:not(.expanded-row):active {
  background: #efefef;
}

.row td {
  border-bottom-width: 0;
}

.row-detail {
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
  display: flex;
}

.row-detail-content {
  width:  90%;
  margin: auto auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

.training {
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.training-table-wrapper {
  flex-grow: 10;
}

.training-table {
  width: 100%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}

.training-link {
  padding:0;
}

table {
  width: 100%;
}

td.title, th.title {
  text-align: center;
  width: 15%;
}

td.date, th.date {
  text-align: center;
  width: 25%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

td.trainingDefinition, th.trainingDefinition {
  text-align: center;
  width: 15%;
}

td.pool-size, th.pool-size {
  text-align: center;
  width: 15%;
}

.pool-size-content {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: baseline;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.allocation-failure {
  flex-grow: 1;
}

.pool-size-count {
  flex-grow: 1;
}

.pool-allocation-progress {
  flex-grow: 2;
}

td.password, th.password {
  text-align: center;
  width: 15%;
}

th.actions {
  text-align: center;
  width: 15%;
}

td.actions {
  width: 15%;
  display: flex;
  justify-content: center;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-error {
  color: #980000;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .training {
    width: 90vw;
  }
}
