<div class="content">
  <h1 *ngIf="editMode" mat-dialog-title>Edit Beta Testing Group</h1>
  <h1 *ngIf="!editMode" mat-dialog-title>Create Beta Testing Group</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <kypo2-user-selection-table (selectionChange)="onSelectionChange($event)" [users]="users$ | async"
                                [preselectedUsers]="selectedUsers"></kypo2-user-selection-table>
  </div>
  <div mat-dialog-actions>
    <button (click)="cancel()"
            mat-button color="warn">Cancel</button>
    <span class="spacer"></span>
    <button (click)="confirm()"
            [disabled]="!selectedUsers || selectedUsers.length === 0"
            mat-button color="primary">Confirm</button>
  </div>
</div>
