h1 {
  text-align: center;
}

.controls {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.controls > button {
  margin-left: 10px;
}

mat-divider {
  margin: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
}
