<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
  </mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- SELECT Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell class="select" *matHeaderCellDef></th>
    <td mat-cell class="select" *matCellDef="let row">
      <mat-checkbox [disabled]="row.selectionDisabled"
                    [checked]="row.selected"
                    (change)="onSelectChange(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- NAME Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell class="name" *matHeaderCellDef>Name</th>
    <td mat-cell class="name" *matCellDef="let row"> {{ row.isActiveUser ? row.user?.name + ' (You)' : row.user?.name}}</td>
  </ng-container>

  <!-- ISSUER Column -->
  <ng-container matColumnDef="issuer">
    <th mat-header-cell class="issuer" *matHeaderCellDef>Issuer</th>
    <td mat-cell class="issuer" *matCellDef="let row"> {{ row.user?.issuer}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator *ngIf="paginated" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
