markdown ::ng-deep img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

markdown ::ng-deep pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

lib-force-graph {
  border: 1px solid gainsboro;
}

.topology-placeholder {
  border: 1px solid gainsboro;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.header {
  margin-top: 50px;
  text-align: center;
  width: 90%;
}

.footer {
  margin-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}

.content {
  margin-top: 50px;
  display: flex;
  width: 90%;
  flex-direction: row;

}

.left-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.right-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.flag-input {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  align-items: baseline;
}

.spacer {
  flex: 1 1 0;
}

.game-control-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px 0;
}

button {
  margin-right: 10px;
}

mat-form-field {
  width: 150px;
}

@media screen and (max-width: 1900px) {
  .content {
    width: 90%;
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .right-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .game-control-panel {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .game-control-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

