<div class="container">
  <div class="header">
    <h1>{{ level.title }}</h1>
  </div>
  <div class="content">
    <div class="left-panel">
      <!-- TOPOLOGY COMPONENT-->
     <lib-force-graph  #topology
                       *ngIf="sandboxId"
                      [width]="graphWidth"
                      [height]="graphHeight"
                      [sandboxId]="sandboxId"
                      (onTopologyLoaded)="topologyLoaded()">
     </lib-force-graph>
      <div *ngIf="!sandboxId" class="topology-placeholder">
        <h3>There will be topology component</h3>
        <img src="assets/images/placeholders/topology-placeholder.png"
             alt="Topology placeholder"
             [width]="graphWidth"
             [height]="graphHeight"/>
      </div>


    </div>
    <div class="right-panel">
      <div class="hint-bar">

        <!-- HINT BUTTONS-->
        <button
          *ngFor="let hintButton of hintButtons; index as i"
          mat-raised-button color="primary"
          [disabled]="correctFlag || solutionShown || hintButton.displayed"
          (click)="showHint(hintButton, i + 1);"
          matTooltip="{{ hintButton.hint.title }}">
          Hint {{ i + 1 }}
        </button>

        <!-- SOLUTION BUTTON-->
        <button mat-raised-button color="warn"
                [disabled]="correctFlag || solutionShown"
                (click)="revealSolution()"
                matTooltip="Display solution">
          Solution
        </button>
      </div>
      <div class="level-content">
         <markdown [data]="displayedText"></markdown>
      </div>
      <div class="flag-input">

        <!-- FLAG field-->
        <mat-form-field appearance="outline">
          <mat-label>Flag</mat-label>
          <input matInput placeholder="Flag" [disabled]="correctFlag" [(ngModel)]="flag" required>
          <button mat-button *ngIf="flag" [disabled]="correctFlag" matSuffix mat-icon-button aria-label="Clear" (click)="flag=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-button color="accent"
                [disabled]="!flag || correctFlag"
                (click)="submitFlag()">
          Submit</button>
      </div>
    </div>
  </div>
  <div *ngIf="correctFlag" class="footer">
    <div *ngIf="hasNextLevel then nextLevelButton else finishButton"></div>
      <ng-template #nextLevelButton>
        <button mat-raised-button color="primary" (click)="nextLevel()">Next level</button>
      </ng-template>
      <ng-template #finishButton>
        <button mat-raised-button color="primary" (click)="finish()">Finish training</button>
      </ng-template>
  </div>
</div>
