mat-checkbox {
  margin: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.warn {
  color: #f44336;
}

table {
  margin-top: 10px;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  align-content: center;
}

tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #ddd;
}

tr.first-row {
  border-top: 0;
}

tr.last-row {
  border-bottom: 0;
}
tr.inner:hover {
  background-color: gainsboro;
}

tr mat-form-field {
  text-align: center;
  margin-top: 5px;
  margin-bottom: -1.25em;
  width: 120px;
}

td {
  padding: 0;
  width: 130px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.form-container > * {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 10px;
}

mat-form-field.col-field {
  width: 120px;
}

mat-form-field.row-field {
  width: 120px;
}

.right-panel mat-form-field {
  width: 100%;
}

mat-divider {
  margin: 0 20px;
}

button.clear-answers {
  width: 120px;
  float: right;
}

p.note {
  text-align: right;
}

@media screen and (max-width: 850px) {
}
