<div class="content">
  <div class="form-container">
    <!-- TITLE field-->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input (ngModelChange)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
      <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title =''; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxQuestionScore }}">
      <mat-label>Points</mat-label>
      <input [disabled]="!required" (ngModelChange)="contentChanged()" matInput placeholder="Points" type="number" [max]="maxQuestionScore" min="0" [(ngModel)]="score" [required]="required">
    </mat-form-field>

    <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxQuestionPenalty }}">
      <mat-label>Penalty points</mat-label>
      <input [disabled]="!required || !isTest" (ngModelChange)="contentChanged()" matInput placeholder="Question Penalty points" type="number" [max]="maxQuestionPenalty" min="0" [(ngModel)]="penalty" [required]="required">
    </mat-form-field>

    <mat-checkbox [disabled]="isTest" (ngModelChange)="requiredChanged()" [(ngModel)]="required">Required</mat-checkbox>
  </div>

  <!-- EMI -->
  <table>
    <!-- DELETE COL BUTTONS -->
    <tr class="first-row">
      <td></td>
      <td *ngFor="let cols of cols; index as i;" class="delete-col-buttons">
        <button mat-button matSuffix mat-icon-button aria-label="Delete column" color="warn" matTooltip="Delete column"
                (click)="deleteColumn(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </tr>
    <!-- COL HEADER -->
    <tr class="inner">
      <td></td>

      <td *ngFor="let col of cols; index as i; trackBy: trackByFn" class="col-header">
        <!-- COL NAME -->
        <mat-form-field class="col-field" floatLabel="never">
          <mat-label>Column {{ i + 1 }}</mat-label>
          <input (ngModelChange)="contentChanged()" matInput placeholder="Column {{ i + 1 }}" [(ngModel)]="cols[i]">
          <button mat-button *ngIf="col" matSuffix mat-icon-button aria-label="Clear" (click)="cols[i]= ''; contentChanged()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </td>

      <!-- ADD COL BUTTON -->
      <td class="last-col">
        <button mat-button matSuffix mat-icon-button aria-label="Add column" color="primary" matTooltip="Add column"
                (click)="addColumn()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </td>
    </tr>
    <!-- ROWS WITH RADIO BUTTONS -->
    <tr *ngFor="let row of rows; index as i; trackBy: trackByFn" class="inner">
      <td>
       <!-- ROW NAME -->
        <mat-form-field class="row-field" floatLabel="never">
          <mat-label>Row {{ i + 1 }}</mat-label>
          <input (ngModelChange)="contentChanged()" matInput placeholder="Row {{ i + 1 }}" [(ngModel)]="rows[i]">
          <button mat-button *ngIf="row" matSuffix mat-icon-button aria-label="Clear" (click)="rows[i]= ''; contentChanged()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </td>

      <!-- ROW OPTIONS -->
      <mat-radio-group>
        <td *ngFor="let col of cols; index as j;">
            <mat-radio-button [disabled]="!required" [value]="{ x: i, y: j }" (change)="onAnswerChanged(i, j)"></mat-radio-button>
        </td>
      </mat-radio-group>

       <!-- DELETE ROW BUTTON -->
      <td class="last-col">
      <button mat-button matSuffix mat-icon-button aria-label="Delete row" color="warn" matTooltip="Delete row"
              (click)="deleteRow(i)">
        <mat-icon>remove_circle</mat-icon>
      </button>
      </td>
    </tr>
    <!-- ADD ROW BUTTON -->
    <tr class="last-row">
      <td>
        <button mat-button matSuffix mat-icon-button aria-label="Add new row" color="primary" matTooltip="Add new row"
                (click)="addRow()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </td>
    </tr>
    <button mat-button color="warn" (click)="clearAnswers()" class="clear-answers">Clear Answers</button>
  </table>
  <p class="note">Note: Do not forget to select correct answers</p>
</div>

