@import '~variables.scss';

.content {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

mat-card {
  padding: 10px;
}

mat-card-title {
  margin-bottom: 10px;
}

kypo2-table {
  flex-grow: 1;
  margin-right: 30px;
  max-height: 70vh;
  overflow-y: scroll
}
