<h1>Sandbox Instance {{ sandboxInstance?.id }}</h1>
<div class="content">
  <kypo2-table class="mat-elevation-z8"
    [data]="resources$ | async"
    [hasError]="resourcesHasError"
    (refresh)="onResourceLoadEvent($event)">
  </kypo2-table>
  <mat-card [style.width.px]="topologyWidth"
            [style.height.px]="topologyHeight + 30">
    <mat-card-title>
      Topology of sandbox {{ sandboxInstance?.id }}
    </mat-card-title>
    <mat-card-content>
      <kypo2-topology-graph
        [style.width.px]="topologyWidth"
        [style.height.px]="topologyHeight"
        [width]="topologyWidth"
        [height]="topologyHeight"
        [sandboxId]="sandboxInstance?.id">
      </kypo2-topology-graph>
    </mat-card-content>
  </mat-card>
</div>

