<div class="container">
  <div class="header">
    <h1>{{ level.title }}</h1>
  </div>
  <div class="content">
    <markdown [data]="level.instructions"></markdown>
    <!-- QUESTIONS -->
    <div class="questions">
      <div *ngFor="let question of level.questions; index as i" class="question">
        <mat-divider></mat-divider>
        <trainee-question [question]="question" [index]="i + 1" (contentChanged)="onContentChanged()"></trainee-question>
      </div>
    </div>
  </div>
  <div class="footer">
    <button *ngIf="!isSubmitted" mat-raised-button color="primary" (click)="submit()" [disabled]="!canSubmit">Submit</button>
    <div *ngIf="isSubmitted">
      <div *ngIf="hasNextLevel then nextLevelButton else finishButton"></div>
        <ng-template #nextLevelButton>
          <button mat-raised-button color="primary" (click)="nextLevel()">Next level</button>
        </ng-template>
        <ng-template #finishButton>
          <button mat-raised-button color="primary" (click)="finish()">Finish training</button>
        </ng-template>
    </div>
  </div>
</div>
