<mat-card>
  <mat-card-header>
      <img mat-card-avatar [src]="logoSrc">
      <mat-card-title>Stage {{ stage?.id }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <kypo2-request-stage-common [stage]="stage"></kypo2-request-stage-common>
    <mat-expansion-panel  class="mat-elevation-z1"
                          [disabled]="detailDisabled"
                          (closed)="onStageDetailEvent(false)"
                          (opened)="onStageDetailEvent(true)">
      <mat-expansion-panel-header>
        <mat-panel-title>Stage detail</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!stageDetailIsLoading else stageOutputLoading">
        <div *ngIf="stageDetail?.hasError" class="error">
          <p class="warn">We have some trouble loading the data. Please try again.</p>
          <button mat-icon-button color="primary" (click)="onStageDetailEvent(true)">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div *ngIf="!stageDetail?.hasError">
          <kypo2-request-stage-detail *ngIf="stageDetail else noStageOutput"
                                      [stage]="stageDetail?.stage"
                                      (fetchAnsibleOutput)="onFetchAnsibleOutput($event)">
          </kypo2-request-stage-detail>
          <ng-template #noStageOutput>
            <h3>Stage has no output</h3>
          </ng-template>
        </div>

      </div>
      <ng-template #stageOutputLoading>
        <div class="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>

    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
