@import "./src/variables.scss";

mat-card {
  margin: 10px;
}

.state {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: flex-end;
}

.stage-output {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.success {
  color: $success;
}

.warn {
  color: $warn;
}

.primary {
  color: $primary;
}

.state h3 {
  margin: 0 0 0 5px;
}

mat-expansion-panel {
  margin: 10px;
}
