@import "./src/variables.scss";

mat-card {
  margin: 10px;
}
.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}


mat-expansion-panel {
  margin: 10px;
}
