h1, .subtitle {
    text-align: center;
}

.subtitle {
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;

    > *:not(router-outlet) {
        flex: 1;
        display: block;
    }
}
