.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.spacer {
  flex: 1 1 0;
}

.training-run-stepper {
  width: 100%;
  pointer-events: none !important;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
