<div class="loading" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="content">
  <div class="header">
    <a routerLink="/home">
      <img id="training-run-logo" alt="KYPO" src="./assets/images/kypo-logo-blue.svg"/>
    </a>
    <!-- LEVEL STEPPER -->
    <div class="training-run-stepper">
      <div *ngIf="isStepperDisplayed && levels">
        <kypo2-stepper [selectable]="false" [stepperItems]="stepper.levels" [activeIndex]="selectedStep"></kypo2-stepper>
      </div>
    </div>

    <div class="spacer"></div>
    <div class="right-panel">
      <kypo2-user-id></kypo2-user-id>
      <kypo2-training-timer *ngIf="isTimerDisplayed && startTime" [startTime]="startTime"></kypo2-training-timer>
    </div>

  </div>
  <!-- CONTENT OF ACTIVE LEVEL -->
  <kypo2-abstract-level></kypo2-abstract-level>
</div>

