  <div class="header">
    <!-- LEVEL STEPPER -->
    <div *ngIf="isStepperDisplayed && stepper?.items" class="training-run-stepper">
      <kypo2-stepper [dragDisabled]="true" [selectable]="false" [stepperItems]="stepper" [activeIndex]="stepper.activeLevelIndex"></kypo2-stepper>
    </div>

    <span class="spacer"></span>
    <div class="right-panel">
      <csirt-mu-user-card [user]="user$ | async"></csirt-mu-user-card>
      <kypo2-training-timer *ngIf="isTimerDisplayed && startTime" [startTime]="startTime"></kypo2-training-timer>
    </div>
  </div>
  <!-- CONTENT OF ACTIVE LEVEL -->
  <kypo2-abstract-level [level]="activeLevel$ | async"
                        [isLast]="isLast"
                        [sandboxId]="sandboxId"
                        (next)="next()">
  </kypo2-abstract-level>


