<div class="configuration">
  <h1>Description</h1>
  <div class="form-container">

    <!-- TITLE field-->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input (change)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
      <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- AUTHORS field-->
    <div class="line-with-button">
      <p *ngIf="authors" style="color: black">Authors: {{ authors }}</p>
      <p *ngIf="!authors">Authors*</p>
      <span class="spacer"></span>
      <button (click)="chooseAuthors()"
        mat-button color="accent">
        Choose
      </button>
    </div>

    <!-- SANDBOX DEFINITION field-->
    <div class="line-with-button">
      <p *ngIf="!sandboxDefId">Sandbox Definition Id*</p>
      <p *ngIf="sandboxDefId" style="color: black"> Sandbox Definition Id: {{ sandboxDefId }}</p>
      <span class="spacer"></span>
      <button (click)="chooseSandboxDefs()"
              mat-button color="accent">
        Choose
      </button>
    </div>

    <!-- DESCRIPTION field-->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea (change)="contentChanged()"  matInput placeholder="Description" [(ngModel)]="description"></textarea>
      <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- PREREQUISITES field-->
    <mat-form-field appearance="outline">
      <mat-label>Prerequisites</mat-label>
      <textarea (change)="contentChanged()"  matInput placeholder="Prerequisites" [(ngModel)]="prerequisites[0]"></textarea>
      <button mat-button *ngIf="prerequisites" matSuffix mat-icon-button aria-label="Clear" (click)="prerequisites=['']; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- OUTCOMES field-->
    <mat-form-field appearance="outline">
      <mat-label>Outcomes</mat-label>
      <textarea (change)="contentChanged()"  matInput placeholder="Outcomes" [(ngModel)]="outcomes[0]"></textarea>
      <button mat-button *ngIf="outcomes" matSuffix mat-icon-button aria-label="Clear" (click)="outcomes=['']; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- SHOW STEPPER BAR checkbox-->
    <mat-checkbox (change)="contentChanged()"  [(ngModel)]="showProgress">Show Stepper Bar</mat-checkbox>

    <!-- STATE field-->
    <mat-form-field *ngIf="editMode" appearance="outline">
      <mat-label>State</mat-label>
      <mat-select placeholder="State"
                  (change)="contentChanged()"
                  [(ngModel)]="selectedState">
        <mat-option *ngFor="let state of states"
                    [value]="state">
          {{ state | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- BETA TESTING GROUP field-->
    <div  class="line-with-button">
      <p *ngIf="betaTestingGroup" style="color: black"> Beta Testing Group: {{ betaTestingGroup?.organizers }}</p>
      <p *ngIf="!betaTestingGroup">Beta Testing Group</p>
      <button
        *ngIf="!betaTestingGroup"
        (click)="chooseBetaTestingGroup()"
        mat-button color="accent">
        Create
      </button>
      <button
        *ngIf="betaTestingGroup"
        (click)="chooseBetaTestingGroup()"
        mat-button color="accent">
        Edit
      </button>
    </div>

    <!-- SAVE button-->
    <div class="main-button">
      <button (click)="saveTrainingDef()"
        mat-raised-button color="primary">
        Save
      </button>
    </div>
  </div>
</div>

