<div class="configuration">
  <h1>Description</h1>
  <div class="form-container">

    <!-- TITLE field-->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" [(ngModel)]="title" required>
      <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- AUTHORS field-->
    <div class="line-with-button">
      <p *ngIf="authors" style="color: black">Authors: {{ authors }}</p>
      <p *ngIf="!authors">Authors*</p>
      <span class="spacer"></span>
      <button (click)="chooseAuthors()"
        mat-raised-button color="accent">
        Choose
      </button>
    </div>

    <!-- DESCRIPTION field-->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
      <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- PREREQUISITES field-->
    <mat-form-field appearance="outline">
      <mat-label>Prerequisites</mat-label>
      <textarea matInput placeholder="Prerequisites" [(ngModel)]="prerequisites"></textarea>
      <button mat-button *ngIf="prerequisites" matSuffix mat-icon-button aria-label="Clear" (click)="prerequisites=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- OUTCOMES field-->
    <mat-form-field appearance="outline">
      <mat-label>Outcomes</mat-label>
      <textarea matInput placeholder="Outcomes" [(ngModel)]="outcomes"></textarea>
      <button mat-button *ngIf="outcomes" matSuffix mat-icon-button aria-label="Clear" (click)="outcomes=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- SHOW STEPPER BAR checkbox-->
    <mat-checkbox [(ngModel)]="showProgress">Show Stepper Bar</mat-checkbox>

    <!-- STATE field-->
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <mat-select  placeholder="State"
                   [(ngModel)]="selectedState">
        <mat-option *ngFor="let state of states"
                    [value]="state">
          {{ state | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- SANDBOX DEFINITION field-->
    <div class="line-with-button">
      <p *ngIf="sandboxDef" style="color: black"> Sandbox Definition: {{ sandboxDef }}</p>
      <p *ngIf="!sandboxDef">Sandbox Definition*</p>
      <span class="spacer"></span>
      <button (click)="chooseSandboxDefs()"
        mat-raised-button color="accent">
        Choose
      </button>
    </div>

    <!-- SAVE button-->
    <div class="main-button">
      <button (click)="saveTrainingDef()"
        mat-raised-button color="primary">
        Save changes
      </button>
    </div>
  </div>
</div>

