@import "./src/variables.scss";

.state {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: flex-end;
}

.state h3 {
  margin: 0 0 0 5px;
}

.warn {
  color: $warn;
}

.success {
  color: $success;
}

.primary {
  color: $primary;
}
