<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Hints
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="hints && hints.length > 0 else noHintsLabel"> This level contains {{ hints.length }} hint(s)</span>
      <ng-template #noHintsLabel>
        <span>This level has no hints</span>
      </ng-template>
      <div class="panel-description-error" *ngIf="hintsHasErrors">
        <mat-icon color="warn">error_outline</mat-icon>
        <mat-error>There are errors in some hints</mat-error>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <kypo2-hint-controls [deleteDisabled]="stepperHints?.items?.length === 0"
                       (delete)="deleteActiveHint()"
                       (add)="addHint()">
  </kypo2-hint-controls>
  <mat-divider></mat-divider>

<!--     HINT stepper-->
  <div *ngIf="stepperHints.items && stepperHints.items.length > 0 else noHints" class="hint-stepper">
    <kypo2-stepper [selectable]="true"
                   [stepperItems]="stepperHints"
                   [activeIndex]="selectedStep"
                   (stepSwapped)="onOrderUpdate()"
                   (indexSelected)="onActiveHintChanged($event)"
                   (selectedStepSwapped)="onActiveHintChanged($event)">
    </kypo2-stepper>
    <div>
      <mat-divider></mat-divider>
      <ng-template matStepLabel>Hint {{ selectedStep + 1 }}</ng-template>
      <div class="step-content">
        <kypo2-hint-edit [hint]="stepperHints.items[selectedStep]"
                   (hintChange)="onHintsChanged($event)"
                   [levelMaxScore]="levelMaxScore"
                   [hintsPenaltySum]="penaltySum"
                   [order]="selectedStep">
        </kypo2-hint-edit>
      </div>
    </div>
  </div>
  <ng-template #noHints>
    <h3>Start by clicking on Add button</h3>
  </ng-template>
</mat-expansion-panel>
