h2 {
  text-align: center;
  margin: 20px auto;
}
.sandbox-def {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.sandbox-def-buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.sandbox-def-buttons button {
  margin-top: 20px;
  max-width: 200px;
}

.sandbox-def-table-wrapper {
  flex-grow: 9;
}

.sandbox-def-table {
  width: 70%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

table {
  width: 100%;
}

td.title, th.title {
  width: 25%;
}

td.description, th.description {
  width: 30%;
}

td.authors, th.authors {
  width: 25%;
}

td.actions, th.actions {
  width: 20%;
}

@media screen and (max-width: 800px) {
  .sandbox-def {
    flex-direction: column;
  }

  .sandbox-def-buttons {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .sandbox-def-table {
    width: 100%;
  }
}
