.stage-output-viewport {
  height: 800px;
  background-color: black;
  color: gainsboro;
  font-family: 'Source Code Pro', monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.temp-viewport {
  max-height: 800px;
  background-color: black;
  color: gainsboro;
  overflow-y: scroll;
  word-break: break-all;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.row {
  height: 20px;
  padding: 0 10px;
  width: 100%;
  margin: 0;
}
