<ng-container [ngSwitch]="stage?.type">
  <kypo2-ansible-allocation-stage-detail *ngSwitchCase="stageTypes.ANSIBLE_ALLOCATION"
                                          [stageDetail]="stage"
                                          (fetchAnsibleOutput)="onFetchAnsibleOutput($event)">
  </kypo2-ansible-allocation-stage-detail>
  <kypo2-openstack-allocation-stage-detail *ngSwitchCase="stageTypes.OPENSTACK_ALLOCATION"
                                            [stageDetail]="stage">
  </kypo2-openstack-allocation-stage-detail>
  <kypo2-cleanup-stage-detail *ngSwitchCase="stageTypes.OPENSTACK_CLEANUP || stageTypes.ANSIBLE_CLEANUP"
                              [stageDetail]="stage">
  </kypo2-cleanup-stage-detail>
</ng-container>
