mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

.training {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.training-table {
  width: 100%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}

button.delete-all {
  width: 120px;
  align-self: flex-end;
}

table {
  width: 100%;
}


.loading {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-error {
  color: #980000;
  text-align: center;
}
