<div class="level" *ngIf="level">
  <div class="header">
    <h2>Assessment Level Detail</h2>
    <div class="save-info">
      <div *ngIf="dirty" class="save-info-content">
        <mat-icon color="warn">close</mat-icon>
        <span class="left-margin">Not Saved</span>
        <button mat-button color="accent" [disabled]="isLoading" (click)="saveChanges()">
          Save
        </button>
      </div>
      <div *ngIf="!dirty" class="save-info-content">
        <mat-icon class="green-icon">done</mat-icon>
        <span class="left-margin">Saved</span>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="panel-wrapper">
      <div class="left-panel">
        <!-- TITLE field -->
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input [disabled]="isLoading" (ngModelChange)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
          <button mat-button *ngIf="title && !isLoading" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; contentChanged()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- ESTIMATED DURATION field -->
        <mat-form-field appearance="outline" hintLabel="Number in minutes. Range from 1 to 60">
          <mat-label>Estimated Duration in minutes</mat-label>
          <input matInput [disabled]="isLoading" (ngModelChange)="contentChanged()" placeholder="Estimated Duration in Minutes" type="number" max="60" min="1" [(ngModel)]="estimatedDuration">
        </mat-form-field>

        <!-- INSTRUCTIONS field -->
        <h3>Instructions</h3>
        <markdown-editor class="mrkdwn-content" (contentChange)="contentChanged()" [(content)]="instructions"></markdown-editor>

      </div>
      <div class="right-panel">
        <div class="test-toggle-wrapper">
          <mat-slide-toggle [disabled]="isLoading" (change)="onChangeToggle()" (ngModelChange)="contentChanged()" [(ngModel)]="isTest">{{ isTestToggleLabel }}</mat-slide-toggle>
        </div>
      </div>
    </div>
    <!-- QUESTIONS component -->
    <question-overview (questions)="contentChanged()" [questions]="questions" [isTest]="isTest" [disabled]="isLoading"></question-overview>
  </div>

  <div class="footer">
    <span class="spacer"></span>
    <button mat-raised-button color="warn" [disabled]="isLoading" (click)="onDeleteLevel()">
      Delete level
    </button>
    <button mat-raised-button color="primary" [disabled]="isLoading || !dirty" (click)="saveChanges()">
      Save level
    </button>
  </div>
</div>
