<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Questions
      </mat-panel-title>
      <mat-panel-description>
        {{ questions.length }} questions currently added to this level
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- ADD QUESTION button -->
    <div class="header">
      <button class="add-question" mat-button color="primary" [matMenuTriggerFor]="questionsMenu"
              matTooltip="Add new question">
        Add Question
      </button>
    </div>

    <mat-menu #questionsMenu="matMenu">
      <button mat-menu-item
              (click)="addFFQ()">
        <mat-icon>help_outline</mat-icon>
        <span>Free-form Question</span>
      </button>
      <button mat-menu-item
              (click)="addMCQ()">
        <mat-icon>check_circle</mat-icon>
        <span>Multiple Choice Question</span>
      </button>

      <button mat-menu-item
              (click)="addEMI()">
        <mat-icon>list_alt</mat-icon>
        <span>Extended Matching Items Questions</span>
      </button>
    </mat-menu>

    <!-- QUESTIONS -->
    <div *ngFor="let question of questions; index as i" class="question">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Question {{ i + 1 }}: {{ question.title }}</h3>
          </mat-card-title>
          <span class="spacer"></span>
          <div class="required">
            <mat-checkbox class="mat-typography" [disabled]="isTest" (change)="questionChanged()"  [(ngModel)]="question.required">Required</mat-checkbox>
          </div>
        </mat-card-header>
        <mat-card-content>
          <question-configuration
            (question)="questionChanged()"
            [(question)]="questions[i]"
            [required]="question.required"
            [isTest]="isTest">
          </question-configuration>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" (click)="deleteQuestion(i)">Delete Question</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div *ngIf="questions && questions.length > 0" class="footer">
      <!-- ADD QUESTION button -->
      <button class="add-question" mat-button color="primary" [matMenuTriggerFor]="questionsMenu"
              matTooltip="Add new question">
        Add Question
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
