<div class="hint">
  <form [formGroup]="hintConfigurationFormGroup.formGroup">
    <div class="header">
      <h3>Hint {{order + 1}}</h3>
      
        <!-- TITLE filed -->
        <div class="title">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input (ngModelChange)="hintChanged()" matInput placeholder="Title" formControlName="title" required>
            <button mat-button *ngIf="title.value && !disabled" matSuffix mat-icon-button aria-label="Clear" (click)="title.setValue(''); hintChanged()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="title.hasError('required')">Title cannot be empty</mat-error>
          </mat-form-field>
        </div>

        <!-- HINT PENALTY field -->
        <div class="penalty">
          <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxHintPenalty }}">
            <mat-label>Hint Penalty</mat-label>
            <input (ngModelChange)="hintChanged(); onPenaltyChanged()" matInput placeholder="Hint Penalty" type="number" [max]="maxHintPenalty" min="0" formControlName="hintPenalty" required>
            <mat-error *ngIf="hintPenalty.hasError('required') || hintPenalty.hasError('min') || hintPenalty.hasError('max')">Hint penalty must be a number in range from 0 to {{maxHintPenalty}}</mat-error>
          </mat-form-field>
        </div>
    
    </div>
    <div class="content">
      <!--CONTENT field -->
      <h3>Content</h3>
      <kypo2-markdown-editor (contentChange)="setContentValue($event); hintChanged();" class="mrkdwn-content" [kypo2-markdown-file-upload]="false" [content]="content.value"></kypo2-markdown-editor>
      <mat-error *ngIf="content.hasError('required')">Content cannot be empty</mat-error>
    </div>

    <div>
      <button class="delete-button" mat-button color="warn" [disabled]="disabled" (click)="onDeleteHint()">Delete hint</button>
    </div>
  </form>
</div>
