<div class="level">
  <div class="header">
    <h2>Info Level Detail</h2>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </div>

  <div class="content">
    <!-- TITLE filed -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input (change)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
      <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- CONTENT filed -->
    <h3>Content</h3>
    <shared-markdown-editor (change)="contentChanged()" [(content)]="content"></shared-markdown-editor>
  </div>

  <div class="footer">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveChanges()">
      Save Changes
    </button>
  </div>
</div>
