<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Questions
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="questions && questions.length > 0 else noQuestionsLabel">
        This level contains {{ questions?.length }} question(s)
      </span>
      <ng-template #noQuestionsLabel>
        <span>This level contains no questions.</span>
      </ng-template>
      <div class="panel-description-error" *ngIf="questionsHasError && isTest">
        <mat-icon color="warn">error_outline</mat-icon>
        <mat-error>There are errors in some questions</mat-error>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <kypo-controls [controls]="controls"
                 (itemClicked)="onControlAction($event)">
    </kypo-controls>
  <div *ngIf="questions && questions.length > 0 else noQuestions">
    <mat-divider></mat-divider>
    <!-- QUESTIONS -->
    <div *ngFor="let question of questions; index as i" class="question">
      <kypo2-question-edit
        (questionChange)="onQuestionChanged($event)"
        (delete)="onDelete($event)"
        [question]="questions[i]"
        [index]="i"
        [isTest]="isTest">
      </kypo2-question-edit>
    </div>
  </div>
  <ng-template #noQuestions>
    <h3>Start by clicking on Add button</h3>
  </ng-template>
</mat-expansion-panel>
