<div class="training">
  <div class="training-table-wrapper">
    <div class="training-table">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
               [disabled]="isInErrorState"
               placeholder="Filter by training instance title">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="loading"
             *ngIf="isLoading || isInErrorState">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <div class="loading-error" *ngIf="isInErrorState">
            We have some trouble loading the data. Please try again later.
            <button mat-icon-button (click)="fetchData()" color="primary"><mat-icon>refresh</mat-icon></button>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>

          <!-- TRAINING INSTANCE TITLE Column -->
          <ng-container matColumnDef="title">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isInErrorState">Title</th>
            <td class="title" mat-cell *matCellDef="let training">
              <div *ngIf="training.trainingInstanceStartTime.valueOf() < now
               && training.trainingInstanceEndTime.valueOf() > now
               && !isLoading
              then clickableTitle else nonClickableTitle"></div>

              <ng-template #clickableTitle>
                <button [disabled]="isLoading" class="training-link" mat-button color="primary"
                        (click)="resume(training.trainingRunId)">
                  {{ training.trainingInstanceTitle }}</button>
              </ng-template>

              <ng-template #nonClickableTitle>{{ training.trainingInstanceTitle }}</ng-template>
            </td>
          </ng-container>

          <!-- DATE Column -->
          <ng-container matColumnDef="date">
            <th class="date" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isInErrorState">Date</th>
            <td class="date" mat-cell *matCellDef="let training">
              {{ training.trainingInstanceStartTime | dateTimeFormat }} - {{ training.trainingInstanceEndTime | dateTimeFormat }}
            </td>
          </ng-container>

          <!-- COMPLETED LEVELS Column -->
          <ng-container matColumnDef="completedLevels">
            <th class="completedLevels" mat-header-cell *matHeaderCellDef>Completed Levels</th>
            <td class="completedLevels" mat-cell *matCellDef="let training">
              {{ training.currentLevel }}/{{ training.totalLevels }}
            </td>
          </ng-container>

          <!-- ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions" mat-cell *matCellDef="let training">

              <div class="action-buttons">
                <!-- TRY AGAIN button-->
                <button *ngIf="training.action === actionType.TryAgain"
                        mat-icon-button color="primary"
                        [disabled]="isLoading"
                        (click)="tryAgain(1)">
                  <mat-icon
                    matTooltip="Try again"
                    aria-label="Try again button">
                    refresh</mat-icon>
                </button>
                <!-- RESULTS button-->
                <button *ngIf="training.action === actionType.Results"
                        mat-icon-button color="primary"
                        [disable]="isLoading"
                        (click)="accessResults(training.trainingRunId)">
                  <mat-icon
                    matTooltip="Access results"
                    aria-label="Access results button">
                    assessment</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
