mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

.training {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.training-table-wrapper {
  flex-grow: 10;
}

.training-link {
  padding:0;
}

.training-table {
  width: 100%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

td.title, th.title {
  width: 40%;
}

td.date, th.date {
  width: 30%;
}

td.completedLevels, th.completedLevels {
  width: 20%;
  text-align: center;
}

td.actions, th.actions {
  width: 10%;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-error {
  color: #980000;
  text-align: center;
}
