<div class="level" *ngIf="level">
  <div class="header">
    <h2>Info Level Detail</h2>
    <div class="save-info">
      <div *ngIf="dirty" class="save-info-content">
        <mat-icon color="warn">close</mat-icon>
        <span class="left-margin">Not Saved</span>
        <button mat-button color="accent" [disabled]="isLoading" (click)="saveChanges()">
          Save
        </button>
      </div>
      <div *ngIf="!dirty" class="save-info-content">
        <mat-icon class="green-icon">done</mat-icon>
        <span class="left-margin">Saved</span>
      </div>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="saveChanges()">
      Save Changes
    </button>
  </div>

  <div class="content">
    <!-- TITLE filed -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input [disabled]="isLoading" (ngModelChange)="contentChanged()" matInput placeholder="Title" [(ngModel)]="title" required>
      <button mat-button *ngIf="title && !isLoading" matSuffix mat-icon-button aria-label="Clear" (click)="title=''; contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- CONTENT filed -->
    <h3>Content</h3>
    <markdown-editor (contentChange)="contentChanged()" [(content)]="content"></markdown-editor>
  </div>

  <div class="footer">
    <span class="spacer"></span>
    <button mat-raised-button color="warn" [disabled]="isLoading" (click)="onDeleteLevel()">
      Delete level
    </button>

    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="saveChanges()">
      Save Changes
    </button>
  </div>
</div>
