<kypo2-trainee-free-form-question *ngIf="isFfq" [question]="question" [index]="index" (contentChanged)="onContentChanged($event)"></kypo2-trainee-free-form-question>
<kypo2-trainee-multiple-choice-question *ngIf="isMcq" [question]="question" [index]="index" (contentChanged)="onContentChanged($event)"></kypo2-trainee-multiple-choice-question>
<kypo2-trainee-extended-matching-items *ngIf="isEmi" [question]="question" [index]="index" (contentChanged)="onContentChanged($event)"></kypo2-trainee-extended-matching-items>
