h2 {
  text-align: center;
  margin: 20px auto;
}

.train-def {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.train-def-buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  flex-grow: 1;
}

.train-def-buttons button {
  margin-top: 20px;
  max-width: 200px;
}

.train-def-table-wrapper {
  flex-grow: 10;
}

.train-def-table {
  width: 90%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-error {
  color: #980000;
  text-align: center;
}

table {
  width: 100%;
}

td.title, th.title {
  width: 20%;
}

td.description, th.description {
  width: 30%;
}

td.authors, th.authors {
  text-align: center;
  width: 20%;
}

td.actions, th.actions {
  text-align: center;
  width: 20%;
}

td.state, th.state {
  text-align: center;
  width: 10%;
}

@media screen and (max-width: 800px) {
  .train-def {
    flex-direction: column;
  }

  .train-def-buttons {
    flex-direction: column;
  }

  .train-def-table {
    width: 100%;
  }
}




