<h2>Training Definition</h2>
<div class="train-def">
  <div class="train-def-buttons">
    <button mat-flat-button color="primary"
            (click)="newTrainingDefinition()">
      New Training Definition
    </button>
    <button mat-flat-button color="primary"
            (click)="uploadTrainingDefinition()">
      Upload Training Definition
    </button>
  </div>
  <div class="train-def-table-wrapper">
    <div class="train-def-table">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
               [disabled]="isInErrorState"
               placeholder="Filter by title or state">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <div class="loading"
             *ngIf="isLoadingResults || isInErrorState">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="loading-error" *ngIf="isInErrorState">
            We had some trouble loading the data.
            <button mat-icon-button (click)="fetchData()" color="primary"><mat-icon>refresh</mat-icon></button>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
          <!-- TITLE Column -->
          <ng-container matColumnDef="title">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isInErrorState">Title</th>
            <td class="title" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.title | shortString: 50 }}
            </td>
          </ng-container>

          <!-- DESCRIPTION Column -->
          <ng-container matColumnDef="description">
            <th class="description" mat-header-cell *matHeaderCellDef>Description</th>
            <td class="description" mat-cell *matCellDef="let data"> {{ data.trainingDefinition?.description }}</td>
          </ng-container>

          <!-- STATUS Column -->
          <ng-container matColumnDef="state">
            <th class="status" mat-header-cell mat-sort-header *matHeaderCellDef>State</th>
            <td class="status" mat-cell *matCellDef="let data">
                <mat-select (selectionChange)="changeTrainingDefinitionState(data)"
                            *ngIf="!data.isLoadingStateChange"
                            [disabled]="data.possibleStates.length <= 1"
                            [(ngModel)]="data.selectedState">
                  <mat-option *ngFor="let state of data.possibleStates"
                              [value]="state">
                    {{ state | titlecase }}
                  </mat-option>
                </mat-select>
              <mat-progress-spinner *ngIf="data.isLoadingStateChange" color="accent" mode="indeterminate" diameter="25">
              </mat-progress-spinner>
            </td>
          </ng-container>

          <!-- AUTHORS Column -->
          <ng-container matColumnDef="authors">
            <th class="authors" mat-header-cell *matHeaderCellDef>Authors</th>
            <td class="authors" mat-cell
                *matCellDef="let data">
                {{ data.trainingDefinition?.authors | shorterAuthorsFormat: activeUser }}
              <button *ngIf="data.trainingDefinition?.authors?.length > 1" mat-button color="accent" (click)="showAuthorsList(data?.trainingDefinition)">Show</button>
            </td>
          </ng-container>

          <!--ESTIMATED DURATION COLUMN-->
          <ng-container matColumnDef="estimated-duration">
            <th class="estimated-duration" mat-header-cell *matHeaderCellDef mat-sort-header="estimatedDuration" [disabled]="isInErrorState">Estimated Duration</th>
            <td class="estimated-duration" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.estimatedDuration }} min
            </td>
          </ng-container>

          <!-- LAST EDIT Column -->
          <ng-container matColumnDef="last-edit">
            <th class="last-edit" mat-header-cell *matHeaderCellDef mat-sort-header="lastEdited" [disabled]="isInErrorState">Last Edit</th>
            <td class="last-edit" mat-cell *matCellDef="let data">
              {{ data.trainingDefinition?.lastEditTime | dateTimeFormat }}
            </td>
          </ng-container>

          <!--ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef >Actions</th>
            <td class="actions" mat-cell *matCellDef="let data">

              <div class="action-buttons">
                <!-- CLONE button -->
                <button mat-icon-button color="primary"
                        matTooltip="Clone training definition"
                        (click)="cloneTrainingDefinition(data.trainingDefinition)">
                  <mat-icon
                    aria-label="Clone training definition button">
                    file_copy</mat-icon>
                </button>

                <!-- DOWNLOAD button -->
                <button mat-icon-button color="primary"
                        matTooltip="Download training definition"
                        (click)="downloadTrainingDefinition(data.trainingDefinition?.id)">
                  <mat-icon
                    aria-label="Download training definition button">
                    cloud_download</mat-icon>
                </button>

                <!-- PREVIEW button -->
                <button mat-icon-button color="primary"
                        matTooltip="Preview training run"
                        (click)="previewTrainingDefinition(data.trainingDefinition?.id)">
                  <mat-icon
                    aria-label="Preview training definition button">
                    remove_red_eye</mat-icon>
                </button>

                <!-- EDIT button -->
                <button [disabled]="data.trainingDefinition?.state !== trainingStateEnum.Unreleased"
                        mat-icon-button color="primary"
                        matTooltip="Edit training definition"
                        (click)="editTrainingDefinition(data.trainingDefinition?.id)">
                  <mat-icon
                    aria-label="Edit training definition button">
                    create</mat-icon>
                </button>

                <!-- REMOVE button -->
                <button [disabled]="data.trainingDefinition?.state !== trainingStateEnum.Unreleased
                         && data.trainingDefinition?.state !== trainingStateEnum.Archived"
                        mat-icon-button color="warn"
                        matTooltip="Delete training definition"
                        (click)="deleteTrainingDefinition(data.trainingDefinition)">
                  <mat-icon
                    aria-label="Delete training definition button"
                  >delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
