.train-def-buttons {
	margin: auto auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.train-def-buttons button {
	max-width: 200px;
}

.train-def-buttons button:first-child {
	margin-right: 20px;
}

@media screen and (max-width: 800px) {
	.train-def-buttons {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}
}
