.content {
  display: flex;
  flex-direction: column;
}

.warn {
  color: #f44336;
}

.inline-input {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-bottom: 10px;
}

.inline-input > * {
  flex-grow: 1;
  margin-right: 10px;
}

.right-panel mat-form-field {
  width: 100%;
}

.right-panel > * {
  margin-bottom: 10px;
}

button.clear-answers {
  width: 120px;
  margin-bottom: 10px;
}

mat-divider {
  margin: 0 20px;
}

mat-checkbox {
  margin: 0 10px;
}

@media screen and (max-width: 850px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .right-panel {
    margin-top: 20px;
    align-items: flex-start;
    align-content: flex-start;
  }

  mat-form-field {
    width: 80%;
  }
}

