<h1 mat-dialog-title>Choose Sandbox Definition</h1>
<mat-divider></mat-divider>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div mat-dialog-content *ngIf="!isLoading">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let sandbox of sandboxDefs">
      <mat-radio-button [checked]="sandbox === selectedSandboxDef"
                        [value]="sandbox"

                        (change)="selectedSandboxDef = $event.value">
        {{ sandbox.title }}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>
  <div class="empty-content" *ngIf="sandboxDefs.length === 0">
    <p class="mat-typography">No sandbox definitions found.</p>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="warn">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedSandboxDef"
          mat-button color="primary">Confirm</button>
</div>
