<h1 mat-dialog-title>Choose Sandbox Definition</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <mat-selection-list #sandboxDefsList [(ngModel)]="selectedSandboxDefs">
    <mat-list-option *ngFor="let sandbox of sandboxDefs$ | async"
                      [value]="sandbox">
      {{ sandbox.title }}
    </mat-list-option>
  </mat-selection-list>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="primary">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedSandboxDefs || selectedSandboxDefs.length === 0"
          mat-button color="primary">Confirm</button>
</div>
