@import "../../../../../../src/variables";

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb-text {
  padding-top: 3px;
}

.home-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  padding: 0;
  min-width: 0;
}
