<h1 mat-dialog-title>Choose Organizers</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <mat-selection-list #authorsList [(ngModel)]="selectedOrganizers">
    <mat-list-option *ngIf="activeUser" [value]="activeUser" [selected]="true" [disabled]="true">
      {{ activeUser.login }} (You)
    </mat-list-option>
    <mat-list-option *ngFor="let organizer of organizers$ | async"
                     [value]="organizer">
      {{ organizer.login }}
    </mat-list-option>
  </mat-selection-list>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="primary">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedOrganizers || selectedOrganizers.length === 1"
          mat-button color="primary">Confirm</button>
</div>
