<h1 mat-dialog-title>Choose Organizers</h1>
<mat-divider></mat-divider>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div mat-dialog-content *ngIf="!isLoading">
  <mat-selection-list #authorsList [(ngModel)]="selectedOrganizers" [compareWith]="selectionEquality">
    <mat-list-option *ngIf="activeUser" [value]="activeUser" [selected]="true" [disabled]="true">
      {{ activeUser.name }} (You)
    </mat-list-option>
    <mat-list-option *ngFor="let organizer of organizers"
                     [value]="organizer">
      {{ organizer.name }}
    </mat-list-option>
  </mat-selection-list>
  <div class="empty-content" *ngIf="organizers.length === 0">
    <p class="mat-typography">No more organizers found.</p>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="warn">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedOrganizers || selectedOrganizers.length === 1"
          mat-button color="primary">Confirm</button>
</div>
