<div class="portal-item-container" *ngIf="!portalAgendaLink.disabled">
    <div *ngIf="portalAgendaLink.menu else simpleButton">
        <button
            mat-raised-button
            class="simple-button b-40-f f-100-f"
            [ngClass]="{'button-elevation' : (elevation === portalAgendaLink.label + ' button')}"
            (mouseover)="setElevation(portalAgendaLink.label)"
            (mouseleave)="setElevation('')"
            [matMenuTriggerFor]="controlMenu"
        >
            <mat-icon>{{ portalAgendaLink.icon }}</mat-icon>
            <mat-icon inline="true">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #controlMenu="matMenu">
            <button
                *ngFor="let expandedControl of portalAgendaLink.menu"
                mat-menu-item
                class="expanded-menu-item b-98-f"
                (click)="setRoute(expandedControl.path)"
            >
                <mat-icon>{{expandedControl?.icon }}</mat-icon>
                <span>{{ expandedControl?.label }}</span>
            </button>
        </mat-menu>
    </div>
    <ng-template #simpleButton>
        <button
            mat-raised-button
            class="simple-button b-40-f f-100-f"
            [ngClass]="{'button-elevation' : (elevation === portalAgendaLink.label + ' button')}"
            (mouseover)="setElevation(portalAgendaLink.label)"
            (mouseleave)="setElevation('')"
            (click)="setRoute(portalAgendaLink.path)">
            <mat-icon>{{ portalAgendaLink.icon }}</mat-icon>
        </button>
    </ng-template>
    <h3 class="agenda-link-label">{{ portalAgendaLink.label }}</h3>
</div>
