<h1>Pool {{ pool?.id }}</h1>
<div class="content">
  <div class="overview">
    <h3>Sandbox Instances</h3>
    <div class="controls">
      <button mat-raised-button color="primary" [disabled]="pool?.isFull()" (click)="allocatePool()">Allocate</button>
    </div>
    <kypo2-table [data]="instances$ | async"
                 [hasError]="instancesTableHasError$ | async"
                 [totalElements]="instancesTotalLength$ | async"
                 (rowAction)="onInstanceAction($event)"
                 (refresh)="onInstanceLoadEvent($event)">
    </kypo2-table>
  </div>
  <div class="overview">
    <div class="requests">
      <div class="request">
        <h3>Creation Requests</h3>
        <kypo2-table [data]="creationRequests$ | async"
                     [hasError]="creationRequestsTableHasError$ | async"
                     [totalElements]="creationRequestsTotalLength$ | async"
                     (rowAction)="onCreationAction($event)"
                     (refresh)="onCreationRequestsLoadEvent($event)">
        </kypo2-table>
      </div>
<!--      <div class="request">
        <h3>Cleanup Requests</h3>
        <kypo2-table [data]="cleanupRequests$ | async"
                     [hasError]="cleanupRequestsTableHasError$ | async"
                     [totalElements]="cleanupRequestsTotalLength$ | async"
                     (rowAction)="onCleanupAction($event)"
                     (refresh)="onCleanupRequestsLoadEvent($event)">
        </kypo2-table>
      </div>-->
    </div>
  </div>
</div>
