<h1>KYPO Portal</h1>
<h2>Choose your role...</h2>

<div class="content">

  <div class="left-line">
    <h3>Trainings</h3>
    <button mat-raised-button color="primary">
      Designer
    </button>
    <button mat-raised-button color="primary">
      Organizer
    </button>
    <button mat-raised-button color="primary">
      Trainee
    </button>
  </div>

  <div class="middle-line">
    <h3>Cyber Exercises</h3>
    <button mat-raised-button color="primary">
      Designer
    </button>
    <button mat-raised-button color="primary">
      Organizer
    </button>
    <button mat-raised-button color="primary">
      Participant
    </button>
  </div>

  <div class="right-line">
    <h3>Other Agendas</h3>
    <button mat-raised-button color="primary">
      Administrator
    </button>
    <button mat-raised-button color="primary">
      Sandbox Designer
    </button>
  </div>
</div>
