<div class="block-content " *ngIf="sandboxDefinition">
  <mat-card>
    <mat-card-content>
      <p><span class="content-header">URL: </span>{{sandboxDefinition.sandbox.url}}</p>
      <p><span class="content-header">Revision: </span>{{sandboxDefinition.sandbox.rev}}</p>
      <div class="content">
        <p class="content-header">Training definitions associated with sandbox:</p>
        <span *ngFor="let name of sandboxDefinition.associatedTrainingDefinitions; let i = index">
          {{name.title}}
          <span *ngIf="i !== sandboxDefinition.associatedTrainingDefinitions.length - 1">,</span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
