<form [formGroup]="multipleChoicesFormGroup.formGroup">
  <div class="content">
    <!-- TITLE field-->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input (ngModelChange)="contentChanged()" matInput placeholder="Title" formControlName="title" required>
      <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title.setValue(''); contentChanged()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="title.hasError('required')">Title cannot be empty</mat-error>
    </mat-form-field>


    <div class="inline-input">
      <!-- SCORE field -->
      <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxQuestionScore }}">
        <mat-label>Points</mat-label>
        <input (ngModelChange)="contentChanged()" matInput placeholder="Points" type="number" [max]="maxQuestionScore" min="0" formControlName="score" [required]="required">
        <mat-error *ngIf="score.hasError('required')">Question score cannot be empty</mat-error>
        <mat-error *ngIf="score.hasError('pattern') || score.hasError('min') || score.hasError('max')">Question score must be a number in range from 0 to {{this.maxQuestionScore}}</mat-error>
      </mat-form-field>

      <!-- PENALTY field -->
      <mat-form-field appearance="outline" hintLabel="Number in range from 0 to {{ maxQuestionPenalty }}">
        <mat-label>Penalty points</mat-label>
        <input (ngModelChange)="contentChanged()" matInput placeholder="Question Penalty points" type="number" [max]="maxQuestionPenalty" min="0" formControlName="penalty" [required]="required">
        <mat-error *ngIf="penalty.hasError('required')">Question penalty cannot be empty</mat-error>
        <mat-error *ngIf="penalty.hasError('pattern') || penalty.hasError('min') || penalty.hasError('max')">Question penalty must be a number in range from 0 to this.{{maxQuestionPenalty}}</mat-error>
      </mat-form-field>
    </div>


    <button *ngIf="correctAnswersIndices.value.length > 0" mat-button color="warn" (click)="clearAnswers()" class="clear-answers">Clear Answers</button>
    <!-- OPTIONS field -->
    <div  formArrayName="options">
      <div *ngFor="let option of options.controls; index as i; trackBy: trackByFn" class="option">
        <mat-checkbox [disabled]="!isTest || !required" [checked]="correctAnswersIndices.value.includes(i)" (change)="onAnswerChanged($event, i)"></mat-checkbox>
        <mat-form-field>
          <mat-label>Option {{ i + 1 }}</mat-label>
          <input (ngModelChange)="contentChanged()" matInput placeholder="Option {{ i + 1 }}" [formControl]="option">
          <button mat-button *ngIf="option.value" matSuffix mat-icon-button aria-label="Clear" (click)="option.setValue(''); contentChanged()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="option.hasError('required')">{{i+1}}. option cannot be empty</mat-error>
        </mat-form-field>
        <button mat-button matSuffix mat-icon-button aria-label="Delete option" color="warn" matTooltip="Delete option"
                (click)="deleteOption(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
      <mat-error *ngIf="options.hasError('required')">Options cannot be empty</mat-error>
      <mat-error *ngIf="isTest && correctAnswersIndices.hasError('required')">Test question must have selected correct answers</mat-error>
    </div>

    <div class="main-button">
      <button (click)="addOption()" mat-button color="primary">Add Option</button>
    </div>
  </div>
</form>