<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>Question {{ index + 1 }}: {{ question.title }}</h3>
    </mat-card-title>
    <span class="spacer"></span>
    <div class="required">
      <mat-checkbox class="mat-typography" [disabled]="isTest" (change)="questionChanged(question)" [(ngModel)]="question.required">Required</mat-checkbox>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-container [ngSwitch]="true">
      <kypo2-multiple-choice-question-edit *ngSwitchCase="isMcq" (questionChange)="questionChanged($event)" [question]="question" [required]="question.required" [isTest]="isTest"></kypo2-multiple-choice-question-edit>
      <kypo2-free-form-question-edit *ngSwitchCase="isFfq" (questionChange)="questionChanged($event)" [question]="question" [required]="question.required" [isTest]="isTest"></kypo2-free-form-question-edit>
      <kypo2-extended-matching-items *ngSwitchCase="isEmi" (questionChange)="questionChanged($event)" [question]="question" [required]="question.required" [isTest]="isTest"></kypo2-extended-matching-items>
    </ng-container>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button color="warn" (click)="onDelete(index)">Delete</button>
  </mat-card-actions>
</mat-card>


