/* You can add global styles to this file, and also import other style files */

@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "variables";

html {
  height:100vh;
}

body {
  margin: 0;
  min-height:100vh;
}

kypo2-login {
  width: 500px;
  display: block;
  margin: 10% auto;
}

markdown code {
  background-color: #f0f0f0;
}
