@import '~@angular/material/theming';
@import "variables.scss";
@import "~kypo2-table/kypo2-table-theme";
@import "~kypo2-user-assign/kypo2-resource-selector-theme";

@include mat-core();
$kypo2-theme: mat-light-theme($kypo2-primary-palette, $kypo2-accent-palette, $kypo2-warn-palette);
@include angular-material-theme($kypo2-theme);
@include kypo2-table-theme($kypo2-theme);
@include kypo2-resource-selector-theme($kypo2-theme);

$kypo2-white-theme: mat-light-theme($kypo2-white-primary-palette, $kypo2-white-primary-palette, $kypo2-white-primary-palette);

.white-navigation-theme {
  @include angular-material-theme($kypo2-white-theme);
}

$kypo2-typography: mat-typography-config(
  $font-family: $kypo2-base-font
);

@include angular-material-typography($kypo2-typography);
