@import '~@angular/material/theming';
@import "variables.scss";
@import "~kypo2-table/kypo2-table-theme";

@include mat-core();
$kypo2-theme: mat-light-theme($kypo2-primary-palette, $kypo2-accent-palette, $kypo2-warn-palette);
@include angular-material-theme($kypo2-theme);
@include kypo2-table-theme($kypo2-theme);

$kypo2-white-theme: mat-light-theme($kypo2-white-primary-palette, $kypo2-white-primary-palette, $kypo2-white-primary-palette);

.white-navigation-theme {
  @include angular-material-theme($kypo2-white-theme);
}

$lighter-white-theme: mat-light-theme($darker-white-primary-palette, $darker-white-primary-palette, $darker-white-primary-palette);

.white-breadcrumbs-theme {
  @include angular-material-theme($lighter-white-theme);
}

$kypo2-typography: mat-typography-config(
  $font-family: $kypo2-base-font
);

@include angular-material-typography($kypo2-typography);
