@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import '~csirt-mu-layout/csirt-mu-variables';

$primary: mat-color($csirt-mu-primary-palette);
$accent: mat-color($csirt-mu-accent-palette);
$warn: mat-color($csirt-mu-warn-palette);
$success: #6DF000;
$non-accent: #808080;

$kypo2-white-primary-palette: mat-palette($mat-gray, A100);
$primary-inverted: mat-color($kypo2-white-primary-palette);
$accent-inverted: mat-color($kypo2-white-primary-palette);
$warn-inverted: mat-color($kypo2-white-primary-palette);

$darker-white-primary-palette: mat-palette($mat-gray, 200);
$breadcrumbs-primary: mat-color($darker-white-primary-palette);
