@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$kypo2-base-font: 'Source Sans Pro', sans-serif;

$kypo2-primary-palette: mat-palette($mat-indigo);
$kypo2-accent-palette:  mat-palette($mat-pink, A200, A100, A400);
$kypo2-warn-palette:    mat-palette($mat-red);
$primary: mat-color($kypo2-primary-palette);
$accent: mat-color($kypo2-accent-palette);
$warn: mat-color($kypo2-warn-palette);
$success: #6DF000;

$kypo2-white-primary-palette: mat-palette($mat-gray, A100);
$primary-inverted: mat-color($kypo2-white-primary-palette);
$accent-inverted: mat-color($kypo2-white-primary-palette);
$warn-inverted: mat-color($kypo2-white-primary-palette);

$darker-white-primary-palette: mat-palette($mat-gray, 200);
$breadcrumbs-primary: mat-color($darker-white-primary-palette);
