@import '~@angular/material/theming';
@import '~csirt-mu-layout/csirt-mu-variables';

$primary: mat-color($csirt-mu-primary-palette);
$accent: mat-color($csirt-mu-accent-palette);
$warn: mat-color($csirt-mu-warn-palette);
$success: #6DF000;
$non-accent: #808080;
