@import '~@angular/material/theming';
$kypo2-primary-palette: mat-palette($mat-indigo);
$kypo2-accent-palette:  mat-palette($mat-pink, A200, A100, A400);
$kypo2-warn-palette:    mat-palette($mat-red);
$primary: mat-color($kypo2-primary-palette);
$accent: mat-color($kypo2-accent-palette);
$warn: mat-color($kypo2-warn-palette);
