<h2 *ngIf="viewGroup" mat-dialog-title>Edit {{ viewGroup.title}}</h2>
<h2 *ngIf="!viewGroup" mat-dialog-title>Create View Group</h2>
<mat-divider></mat-divider>
<div class="content" mat-dialog-content>
  <!-- TITLE field-->
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" [(ngModel)]="title" required>
    <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- DESCRIPTION field-->
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" [(ngModel)]="description" required>
    <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-selection-list *ngIf="!isLoading" #organizersList [(ngModel)]="selectedOrganizers" [compareWith]="selectionEquality">
    <mat-list-option *ngIf="activeUser" [value]="activeUser" [selected]="true" [disabled]="true">
      {{ activeUser.name }} (You)
    </mat-list-option>
    <mat-list-option *ngFor="let organizer of organizers"
                     [value]="organizer">
      {{ organizer.name}}
    </mat-list-option>
  </mat-selection-list>
</div>

<div mat-dialog-actions>
  <button (click)="cancel()"
          mat-button color="primary">Cancel</button>
  <span class="spacer"></span>
  <button (click)="confirm()"
          [disabled]="!selectedOrganizers || selectedOrganizers.length === 0"
          mat-button color="primary">Confirm</button>
</div>
