<h1>Sandbox Definition Overview</h1>
<div class="sandbox-def">
  <div class="sandbox-def-buttons">
    <button mat-flat-button color="primary"
            (click)="addSandboxDefinition()">
      Add Sandbox Definition
    </button>
  </div>

  <div class="sandbox-def-table-wrapper">
    <div class="sandbox-def-table">
      <mat-form-field>
        <input matInput [disabled]="isInErrorState"
               (keyup)="applyFilter($event.target.value)"
               placeholder="Filter by title">
      </mat-form-field>

      <div class="mat-elevation-z8">

        <div class="loading"
             *ngIf="isLoadingResults || isInErrorState">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="loading-error" *ngIf="isInErrorState">
            We had some trouble loading the data.
            <button mat-icon-button (click)="fetchData()" color="primary"><mat-icon>refresh</mat-icon></button>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th [disabled]="isInErrorState" class="id" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td class="id" mat-cell *matCellDef="let data"> {{ data.sandbox?.id }}</td>
          </ng-container>

          <!-- TITLE Column -->
          <ng-container matColumnDef="title">
            <th [disabled]="isInErrorState" class="title" mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td class="title" mat-cell *matCellDef="let data"> {{ data.sandbox?.title }}</td>
          </ng-container>

          <!-- ASSOCIATED TRAINING DEFS Column -->
          <ng-container matColumnDef="associatedTrainingDefs">
            <th class="assocTrainingDefs" mat-header-cell *matHeaderCellDef>Associated Training Definitions</th>
            <td class="assocTrainingDefs" mat-cell *matCellDef="let data">
              <div *ngIf="data?.associatedTrainingDefinitions?.length <= 1" class="single-associated-td">
                {{ data?.associatedTrainingDefinitions | trainingDefinitionsTableFormat }}
              </div>
              <div *ngIf="data?.associatedTrainingDefinitions?.length > 1" class="multiple-associated-td">
                {{ data?.associatedTrainingDefinitions | trainingDefinitionsTableFormat }}
                <button mat-button color="accent" (click)="showAssociatedTrainingDefinitions(data)">Show</button>
              </div>
            </td>
          </ng-container>

          <!-- URL Column -->
          <ng-container matColumnDef="url">
            <th [disabled]="isInErrorState" class="url" mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
            <td class="url" mat-cell *matCellDef="let data">
              <div class="url-content">
                <div *ngIf="data?.urlShortened">{{ data.sandbox?.url | shortString:20}}</div>
                <div *ngIf="!data?.urlShortened">{{ data.sandbox?.url}}</div>
                <button mat-button color="accent" (click)="changeSandboxUrlState(data)">{{ data?.urlShortened ? 'Show' : 'Hide' }}</button>
              </div>
            </td>
          </ng-container>

          <!-- ACTIONS Column -->
          <ng-container matColumnDef="actions">
            <th class="actions" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions" mat-cell *matCellDef="let data">

              <div class="action-buttons">
                <!-- REMOVE button-->
                <button [disabled]="!data.canBeRemoved"
                        mat-icon-button color="warn"
                        matTooltip="Delete sandbox definition"
                        (click)="deleteSandboxDefinition(data)">
                  <mat-icon
                    aria-label="Delete sandbox definition button">
                    delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
