<h1>Sandbox Definition Overview</h1>
<div class="sandbox-def">
    <kypo2-sandbox-definition-controls (dialogSandboxDefinition)="openSandboxDefinitionDialog()"></kypo2-sandbox-definition-controls>
  <div class="sandbox-def-table-wrapper">
    <div class="sandbox-def-table">
      <kypo2-sandbox-definition-table
        [displayedColumns]="displayedColumns"
        [totalElements]="resultsLength$ | async"
        [sandboxDefinitions]="totalSandboxdefinitions$ | async"
        [isInErrorState]="isInErrorState"
        (refresh)="fetchData($event)"
        (sandboxDefinitionDelete)="deleteSandboxDefinition($event)">
      </kypo2-sandbox-definition-table>
    </div>
  </div>
</div>
