h1 {
  text-align: center;
}

.sandbox-def {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sandbox-def-table-wrapper {
  flex-grow: 10;
}

.sandbox-def-table {
  width: 90%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .sandbox-def {
    flex-direction: column;
  }
}
