<h1 mat-dialog-title>Change state to  {{ data | titlecase }}</h1>
<div mat-dialog-content>
  <p class="mat-body-1">Do you really want to change state to: {{ data | titlecase }} </p>
  <p class="mat-body-1">You won't be able to edit the training definition
    after the changes are saved and you will be redirected back to training definition overview.</p>
</div>
<div mat-dialog-actions>
  <button mat-button  color="warn" cdkFocusInitial (click)="cancel()">Cancel</button>
  <span class="spacer"></span>
  <button mat-button color="primary" (click)="confirm()">Confirm</button>
</div>
