<p>Repository: {{ stageDetail.repoUrl }}</p>
<p>Revision: {{ stageDetail.rev }}</p>
<div *ngIf="stageDetail.hasOutput()">
  <p>Output</p>
  <div class="actions">
    <button mat-icon-button matTooltip="Scroll to start" (click)="scrollToStart()">
      <mat-icon>vertical_align_top</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Scroll to end" (click)=scrollToEnd()>
      <mat-icon>vertical_align_bottom</mat-icon>
    </button>
  </div>
  <cdk-virtual-scroll-viewport #viewport itemSize="20" class="stage-output-viewport">
    <div *cdkVirtualFor="let row of flattenedPages; templateCacheSize: 200" class="row">{{ row }}</div>
    <div class="viewport-last-row" *ngIf="!isEnd">
      <button mat-button color="accent" *ngIf="!isLoading else loading" (click)="getNextPage()">Show more...</button>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<ng-template #loading>
  <mat-spinner diameter="25" color="accent"></mat-spinner>
</ng-template>

