@import "~variables.scss";

.training {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.training-table {
  width: 100%;
  margin: auto auto;
  justify-items: center;
  justify-content: center;
}
