<div class="training">
  <kypo2-training-run-sandboxes
    [resultsLength]="activeTrainingRunsTotalLength$ | async"
    [trainingInstance]="trainingInstance"
    [now]="now"
    [fetchInfo]="fetchSandboxes"
    [deleteSandbox]="deleteSandbox">
  </kypo2-training-run-sandboxes>

  <h2>Active Training Runs</h2>
  <div class="training-table-wrapper">
    <div class="training-table">
      <kypo2-table
        [data]="activeTrainingRuns$ | async"
        [hasError]="activeTrainingRunsTableHasError$ | async"
        [totalElements]="activeTrainingRunsTotalLength$ | async"
        (rowAction)="onActiveTrainingRunsTableSelection($event)"
        (refresh)="onTableLoadEvent($event)">
      </kypo2-table>
    </div>
  </div>
</div>
