<div class="content">
  <mat-card>
    <mat-card-content>
      <p>Description: {{ trainingDefinition?.description }}</p>
      <p>Learning Outcomes: {{ trainingDefinition?.outcomes }}</p>
      <p>Prerequisites: {{ trainingDefinition?.prerequisites }}</p>
      <div *ngIf="trainingDefinition?.showStepperBar else noStepperBar">
        <p>Stepper bar will be displayed during the game.</p>
      </div>
      <ng-template #noStepperBar>
        <p>Stepper bar will be hidden during the game.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
