<h1>Create Pool</h1>
<mat-card>
  <kypo-controls [controls]="controls" (itemClicked)="onControlsAction($event)"></kypo-controls>
  <form [formGroup]="poolFormGroup.formGroup">
    <div class="form-content">

    <!-- POOL SIZE filed -->
      <mat-form-field appearance="outline" hintLabel="Pool of sandboxes that
          can be allocated" class="multi-line-hint">
        <mat-label>Sandbox Pool Size</mat-label>
        <input matInput placeholder="Sandbox pool size" type="number" max="64"
               min="1" formControlName="poolSize" required>
        <mat-error *ngIf="poolSize.hasError('max') ||
            poolSize.hasError('min')">Pool size must be number in range from
          {{poolSize.hasError('min')}} to {{poolSize.hasError('max')}}</mat-error>
        <mat-error *ngIf="poolSize.hasError('required')">This field is required</mat-error>
      </mat-form-field>

      <!-- SANDBOX DEFINITION field-->
      <div class="form-line">
        <p *ngIf="sandboxDefinition.value else noSandboxDefinitionTitle">Sandbox Definition ID: {{ sandboxDefinition.value?.id }}</p>
        <button (click)="selectSandboxDefinition()"
                mat-button color="accent">
          Select
        </button>
      </div>
    </div>
  </form>
</mat-card>

<ng-template #noSandboxDefinitionTitle>
  <p>Sandbox Definition*</p>
</ng-template>
