<game-level-configuration *ngIf="isGameLevelActive" (deleteLevel)="onDeleteLevel($event)" [trainingDefinitionId]="trainingDefinitionId" [level]="level"></game-level-configuration>
<info-level-configuration *ngIf="isInfoLevelActive" (deleteLevel)="onDeleteLevel($event)" [trainingDefinitionId]="trainingDefinitionId" [level]="level"></info-level-configuration>
<assessment-level-configuration *ngIf="isAssessmentLevelActive" (deleteLevel)="onDeleteLevel($event)" [trainingDefinitionId]="trainingDefinitionId" [level]="level"></assessment-level-configuration>
